Repository hlvm-app/hasta-la-vista-money: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8, yesqa

black:
  name: Format with Black
  entry: black
  language: system
  args:
  - --skip-string-normalization

isort:
  name: isort
  entry: isort
  language: system

flake8:
  name: Check with Flake8
  entry: flake8
  language: system

yesqa:
  name: yesqa
  entry: yesqa
  language: system

Изменил запросы
  hasta_la_vista_money/applications/views.py
Due: black, isort, flake8, yesqa

Изменил индекс
  hasta_la_vista_money/account/models.py
Due: black, isort, flake8, yesqa

migrate
  hasta_la_vista_money/account/migrations/0007_account_account_acc_name_ac_e74e62_idx.py
  hasta_la_vista_money/expense/migrations/0004_expense_expense_exp_date_5e5d86_idx_and_more.py
  hasta_la_vista_money/income/migrations/0006_income_income_inco_date_2adb4a_idx_and_more.py
  hasta_la_vista_money/loan/migrations/0011_paymentschedule_alter_loan_options_and_more.py
  hasta_la_vista_money/receipts/migrations/0010_receipt_receipts_re_receipt_27a810_idx_and_more.py
Due: flake8, yesqa

remove indexes
  hasta_la_vista_money/account/migrations/0008_remove_account_account_acc_name_ac_e74e62_idx.py
  hasta_la_vista_money/account/models.py
Due: black, isort, flake8, yesqa

migrate
  app.json
Due: none

create model PaymentSchedule
  hasta_la_vista_money/loan/models.py
Due: black, isort, flake8, yesqa

update
  poetry.lock
  requirements/dev.txt
  requirements/prod.txt
Due: none

added param fake
  app.json
Due: none

remove param fake
  app.json
Due: none

added Exceiption ReadTimeout
  hasta_la_vista_money/bot/receipt_handler/receipt_api_receiver.py
Due: black, isort, flake8, yesqa

added indexes for name_account field
  hasta_la_vista_money/account/migrations/0009_account_account_acc_name_ac_e74e62_idx.py
  hasta_la_vista_money/account/models.py
Due: black, isort, flake8, yesqa

Перенес создание графика в метод post создания кредита
  hasta_la_vista_money/loan/views.py
Due: black, isort, flake8, yesqa

Упростил создание и отображение графика платежей
  hasta_la_vista_money/loan/tasks.py
  hasta_la_vista_money/loan/templates/loan/loan.html
Due: black, isort, flake8, yesqa

redis to rabbitmq changed
  config/django/base.py
Due: black, isort, flake8, yesqa

transfer param to app.json
  CHECKS
  app.json
Due: none

Сделал сортировку через -id
  hasta_la_vista_money/loan/migrations/0012_alter_loan_options_and_more.py
  hasta_la_vista_money/loan/models.py
Due: black, isort, flake8, yesqa

Исключаем из выборки счетов все счета кредитов
  hasta_la_vista_money/loan/forms.py
Due: black, isort, flake8, yesqa

фильтруем даты платежа и графика платежей, чтобы зачёркивать строчки таблицы
  hasta_la_vista_money/loan/templates/loan/loan.html
Due: none

Добавил текст в метод __str__ кредита
  hasta_la_vista_money/loan/models.py
Due: black, isort, flake8, yesqa

Показ графика платежей
  hasta_la_vista_money/loan/views.py
Due: black, isort, flake8, yesqa

migrate --fake
  app.json
Due: none

remove migrate --fake
  app.json
Due: none

Поменял поля местами
  hasta_la_vista_money/account/forms.py
Due: black, isort, flake8, yesqa

поправил текст поля счёта
  hasta_la_vista_money/expense/forms.py
  hasta_la_vista_money/income/forms.py
Due: black, isort, flake8, yesqa

migrate
  hasta_la_vista_money/loan/migrations/0013_alter_paymentmakeloan_account_and_more.py
  hasta_la_vista_money/loan/migrations/0014_alter_paymentschedule_loan.py
  hasta_la_vista_money/loan/migrations/0015_alter_loan_account.py
Due: flake8, yesqa

поправил класс удаления
  hasta_la_vista_money/loan/urls.py
Due: black, isort, flake8, yesqa

Написал класс представления для удаления кредита вместе с платежами и графиком платежей
  hasta_la_vista_money/loan/views.py
Due: black, isort, flake8, yesqa

PROTECT changed to CASCADE
  hasta_la_vista_money/loan/models.py
Due: black, isort, flake8, yesqa

добавил новые константы
  hasta_la_vista_money/constants.py
Due: black, isort, flake8, yesqa

Добавил кнопку удаления кредита
  hasta_la_vista_money/loan/templates/loan/loan.html
Due: none

добавил метод get_absolute_url для кредита
  hasta_la_vista_money/loan/models.py
Due: black, isort, flake8, yesqa

Добавил url для удаления кредита
  hasta_la_vista_money/loan/urls.py
Due: black, isort, flake8, yesqa

добавил select_related
  hasta_la_vista_money/bot/bot_handler/auth_user_handler.py
  hasta_la_vista_money/bot/receipt_handler/receipt_parse_handler.py
Due: black, isort, flake8, yesqa

linter
  hasta_la_vista_money/account/forms.py
Due: black, isort, flake8, yesqa

поправил стиль кнопки и отступы
  hasta_la_vista_money/loan/templates/loan/loan.html
Due: none

Поправил название класса представления
  hasta_la_vista_money/loan/urls.py
Due: black, isort, flake8, yesqa

мелкие правки
  hasta_la_vista_money/loan/templates/loan/loan.html
Due: none

исправил ошибку
  hasta_la_vista_money/loan/models.py
Due: black, isort, flake8, yesqa

исправил ошибку
  hasta_la_vista_money/loan/views.py
Due: black, isort, flake8, yesqa

migrate
  hasta_la_vista_money/loan/migrations/0016_alter_loan_account.py
Due: flake8, yesqa

Path conditions:
  black: any of: \.py$, but not: migrations
  isort: any of: \.py$, but not: migrations
  flake8: any of: \.py$
  yesqa: any of: \.py$
