Repository hlvm-app/hasta-la-vista-money: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8, yesqa

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    -    id: check-ast
    -    id: trailing-whitespace
    -    id: check-toml
    -    id: end-of-file-fixer
         exclude: 'styles.css.map'

-   repo: https://github.com/asottile/add-trailing-comma
    rev: v3.1.0
    hooks:
    -   id: add-trailing-comma

-   repo: https://github.com/python-poetry/poetry
    rev: 1.6.0
    hooks:
    -   id: poetry-check
    -   id: poetry-lock
    -   id: poetry-export
        args: ["-f", "requirements.txt", "-o", "requirements/dev.txt", "--with", "dev", "--without-hashes"]

-   repo: https://github.com/python-poetry/poetry
    rev: 1.6.0
    hooks:
    -   id: poetry-check
    -   id: poetry-lock
    -   id: poetry-export
        args: [ "-f", "requirements.txt", "-o", "requirements/prod.txt", "--without-hashes"]

-   repo: local
    hooks:
    -   id: black
        name: Format with Black
        entry: black
        language: system
        types: [python]
        args: ['--skip-string-normalization']
        exclude: 'migrations'

    -   id: isort
        name: isort
        entry: isort
        language: system
        types: [ python ]
        exclude: 'migrations'

    -   id: flake8
        name: Check with Flake8
        entry: flake8
        language: system
        types: [ python ]

    -   id: yesqa
        name: yesqa
        entry: yesqa
        language: system
        types: [ python ]
        
-   repo: https://github.com/thclark/pre-commit-sphinx
    rev: 0.0.1
    hooks:
    -   id: build-docs
        args: ['--cache-dir', 'docs/doctrees', '--html-dir', 'docs/html', '--source-dir', 'docs/source']
        language_version: python3

migrate
  hasta_la_vista_money/loan/migrations/0020_loan_type_loan.py
Due: flake8, yesqa

Исправил ошибку с url изменения объектов
  hasta_la_vista_money/expense/models.py
  hasta_la_vista_money/expense/templates/expense/expense.html
  hasta_la_vista_money/income/models.py
  hasta_la_vista_money/income/templates/income/income.html
Due: black, isort, flake8, yesqa

Исправил область ссылки
  templates/header.html
Due: none

Добавил задачу для дифференцированных платежей
  hasta_la_vista_money/loan/tasks.py
  hasta_la_vista_money/loan/views.py
Due: black, isort, flake8, yesqa

Сделал пагинацию таблицы с расходами
  hasta_la_vista_money/expense/templates/expense/expense.html
Due: none

Поправил ошибку удаления категории расходов и добавил пагинацию
  hasta_la_vista_money/custom_mixin.py
  hasta_la_vista_money/expense/views.py
Due: black, isort, flake8, yesqa

упростил функцию деления тысячных
  hasta_la_vista_money/templatags/thousand_comma.py
Due: black, isort, flake8, yesqa

Рефакторинг
  hasta_la_vista_money/custom_mixin.py
Due: black, isort, flake8, yesqa

Сделал поле name категории уникальным, чтобы не было дублей
  hasta_la_vista_money/expense/models.py
  hasta_la_vista_money/income/models.py
Due: black, isort, flake8, yesqa

related_name
  hasta_la_vista_money/expense/views.py
Due: black, isort, flake8, yesqa

migrate
  hasta_la_vista_money/expense/migrations/0008_alter_expensetype_name.py
  hasta_la_vista_money/income/migrations/0009_alter_incometype_name.py
Due: flake8, yesqa

Refactoring
  hasta_la_vista_money/expense/templates/expense/expense.html
  hasta_la_vista_money/expense/views.py
Due: black, isort, flake8, yesqa

Refactoring
  hasta_la_vista_money/custom_mixin.py
  hasta_la_vista_money/expense/views.py
Due: black, isort, flake8, yesqa

created pagination
  hasta_la_vista_money/commonlogic/custom_paginator.py
  hasta_la_vista_money/expense/templates/expense/expense.html
  hasta_la_vista_money/expense/views.py
  hasta_la_vista_money/income/templates/income/income.html
  hasta_la_vista_money/income/views.py
Due: black, isort, flake8, yesqa

created pagination
  hasta_la_vista_money/receipts/templates/receipts/receipts.html
  hasta_la_vista_money/receipts/views.py
Due: black, isort, flake8, yesqa

updated packages
  poetry.lock
  requirements/dev.txt
  requirements/prod.txt
Due: none

Рефакторинг
  hasta_la_vista_money/expense/templates/expense/expense.html
  hasta_la_vista_money/income/templates/income/income.html
Due: none

перенес формы в общее приложение
  hasta_la_vista_money/commonlogic/forms.py
  hasta_la_vista_money/expense/forms.py
  hasta_la_vista_money/income/forms.py
  hasta_la_vista_money/loan/forms.py
  hasta_la_vista_money/receipts/forms.py
Due: black, isort, flake8, yesqa

поменял количество дней
  hasta_la_vista_money/commonlogic/forms.py
Due: black, isort, flake8, yesqa

Добавил новую константу
  hasta_la_vista_money/constants.py
Due: black, isort, flake8, yesqa

Добавил textarea для заметок
  hasta_la_vista_money/account/forms.py
  hasta_la_vista_money/account/models.py
Due: black, isort, flake8, yesqa

migrate
  hasta_la_vista_money/account/migrations/0012_transfermoneylog_notes.py
  hasta_la_vista_money/account/migrations/0013_rename_notes_transfermoneylog_note.py
Due: flake8, yesqa

Добавил точные даты в title
  hasta_la_vista_money/expense/templates/expense/expense.html
  hasta_la_vista_money/income/templates/income/income.html
Due: none

оптимизировал запросы
  hasta_la_vista_money/applications/views.py
Due: black, isort, flake8, yesqa

Разделил доходы и расходы по отдельным графикам
  hasta_la_vista_money/reports/templates/reports/reports.html
  hasta_la_vista_money/reports/views.py
Due: black, isort, flake8, yesqa

Добавил список часто покупаемых товаров в чеках
  hasta_la_vista_money/receipts/templates/receipts/receipts.html
  hasta_la_vista_money/receipts/views.py
Due: black, isort, flake8, yesqa

Поправил список
  hasta_la_vista_money/receipts/templates/receipts/receipts.html
Due: none

Вывел информацию о количестве чеков и сумму всех чеков
  hasta_la_vista_money/receipts/templates/receipts/receipts.html
  hasta_la_vista_money/receipts/views.py
  static/css/styles.css
  static/scss/styles.scss
Due: black, isort, flake8, yesqa

Поправил стили
  hasta_la_vista_money/receipts/templates/receipts/receipts.html
  static/css/styles.css
  static/scss/styles.scss
Due: none

Поправил стили
  hasta_la_vista_money/receipts/templates/receipts/receipts.html
Due: none

убрал блок
  templates/header.html
Due: none

Изменил стили шапки
  static/css/styles.css
  static/scss/_buttons.scss
  static/scss/styles.scss
  templates/header.html
Due: none

Поправил отступы
  hasta_la_vista_money/loan/templates/loan/loan.html
  hasta_la_vista_money/reports/templates/reports/reports.html
Due: none

Поправил стили
  hasta_la_vista_money/applications/templates/applications/page_application.html
Due: none

Поправил стили
  templates/header.html
Due: none
