Repository hlvm-app/hasta-la-vista-money: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8, yesqa

black:
  name: Format with Black
  entry: black
  language: system
  args:
  - --skip-string-normalization

isort:
  name: isort
  entry: isort
  language: system

flake8:
  name: Check with Flake8
  entry: flake8
  language: system

yesqa:
  name: yesqa
  entry: yesqa
  language: system

Добавил условия циклов, когда данных ещё нет.
  hasta_la_vista_money/account/templates/account/account.html
  hasta_la_vista_money/expense/templates/expense/expense.html
  hasta_la_vista_money/income/templates/income/show_income.html
  hasta_la_vista_money/receipts/templates/receipts/receipts.html
Due: none

fix text buttons
  hasta_la_vista_money/account/templates/account/modals/statistics.html
  hasta_la_vista_money/expense/templates/expense/modals/show_category_expense.html
Due: none

added test transfer money
  hasta_la_vista_money/account/tests.py
Due: black, isort, flake8, yesqa

refactoring
  hasta_la_vista_money/account/views.py
Due: black, isort, flake8, yesqa

Добавил команду запуска бота локально
  Makefile
Due: none

Исправил ошибку
  hasta_la_vista_money/receipts/views.py
Due: black, isort, flake8, yesqa

рефакторинг
  hasta_la_vista_money/bot/receipt_handler/receipt_parser.py
Due: black, isort, flake8, yesqa

Добавил константы
  hasta_la_vista_money/constants.py
Due: black, isort, flake8, yesqa

миграция
  hasta_la_vista_money/expense/migrations/0018_alter_expensecategory_parent_category.py
  hasta_la_vista_money/income/migrations/0021_alter_incomecategory_parent_category.py
Due: flake8, yesqa

changed on_delete
  hasta_la_vista_money/expense/models.py
  hasta_la_vista_money/income/models.py
Due: black, isort, flake8, yesqa

refactoring
  hasta_la_vista_money/account/views.py
  hasta_la_vista_money/custom_mixin.py
  hasta_la_vista_money/expense/views.py
  hasta_la_vista_money/income/views.py
  hasta_la_vista_money/receipts/views.py
Due: black, isort, flake8, yesqa

refactoring
  hasta_la_vista_money/bot/json_parser/json_parser.py
  hasta_la_vista_money/bot/receipt_handler/text_qr_code_handler.py
Due: black, isort, flake8, yesqa

refactoring
  hasta_la_vista_money/constants.py
Due: black, isort, flake8, yesqa

refactoring
  locale/en/LC_MESSAGES/django.po
Due: none

changed func to yield
  hasta_la_vista_money/commonlogic/views.py
Due: black, isort, flake8, yesqa

update
  poetry.lock
  requirements/dev.txt
  requirements/prod.txt
Due: none

update packages
  poetry.lock
  requirements/dev.txt
  requirements/prod.txt
Due: none

#65 removed manual command and added text command
  hasta_la_vista_money/bot/bot_handler/bot_commands_handler.py
Due: black, isort, flake8, yesqa

#65 added logger and StateMemoryStorage
  hasta_la_vista_money/bot/config_bot/config_bot.py
Due: black, isort, flake8, yesqa

#65 added new constant
  hasta_la_vista_money/constants.py
Due: black, isort, flake8, yesqa

#65 rewrote the entity for adding checks according to its parameters on the fsm
  hasta_la_vista_money/bot/bot_handler/receipt_manual_handler.py
Due: black, isort, flake8, yesqa

#65 refactoring
  hasta_la_vista_money/bot/management/commands/startbot.py
Due: black, isort, flake8, yesqa

#65 rewrote the entity for adding checks according to its parameters on the fsm
  hasta_la_vista_money/bot/webhooks/webhooks.py
Due: black, isort, flake8, yesqa

#65 added actions pull_request
  .github/workflows/hasta_la_vista_money.yaml
Due: none

#65 refactoring
  hasta_la_vista_money/bot/bot_handler/bot_commands_handler.py
Due: black, isort, flake8, yesqa

fix bug
  hasta_la_vista_money/bot/receipt_handler/receipt_parse_handler.py
  hasta_la_vista_money/bot/receipt_handler/receipt_parser.py
Due: black, isort, flake8, yesqa

Changed font size tables
  hasta_la_vista_money/expense/templates/expense/expense.html
  hasta_la_vista_money/income/templates/income/show_income.html
  static/css/styles.css
  static/scss/_mobile.scss
Due: none

fix update
  hasta_la_vista_money/bot/receipt_handler/receipt_parse_handler.py
  poetry.lock
  requirements/dev.txt
  requirements/prod.txt
Due: black, isort, flake8, yesqa

refactoring
  templates/header.html
Due: none

added expenses by category parent sum amount
  hasta_la_vista_money/reports/templates/reports/reports.html
  hasta_la_vista_money/reports/views.py
Due: black, isort, flake8, yesqa

added block title on registration page
  hasta_la_vista_money/users/templates/users/registration.html
Due: none

added new translate
  locale/en/LC_MESSAGES/django.mo
  locale/en/LC_MESSAGES/django.po
Due: none

css js from django_bootstrap to null
  config/django/base.py
  templates/base.html
Due: black, isort, flake8, yesqa

changed styles
  hasta_la_vista_money/account/templates/account/account.html
  hasta_la_vista_money/expense/templates/expense/expense.html
  hasta_la_vista_money/income/templates/income/show_income.html
Due: none

refactoring
  hasta_la_vista_money/account/templates/account/account.html
Due: none

changed django-bootstrap5 to django-crispy-form
  config/django/base.py
  hasta_la_vista_money/account/templates/account/account.html
  hasta_la_vista_money/account/templates/account/modals/add_account.html
  hasta_la_vista_money/account/templates/account/modals/exchange_money_account.html
  hasta_la_vista_money/account/templates/account/modals/statistics.html
  hasta_la_vista_money/income/templates/income/income.html
  poetry.lock
  pyproject.toml
  templates/base.html
  templates/header.html
Due: black, isort, flake8, yesqa

changed django-bootstrap5 to django-crispy-form
  hasta_la_vista_money/account/templates/account/change_account.html
  hasta_la_vista_money/account/templates/account/modals/add_account.html
  hasta_la_vista_money/account/templates/account/modals/exchange_money_account.html
  hasta_la_vista_money/receipts/templates/receipts/filter.html
  hasta_la_vista_money/receipts/templates/receipts/modals/add_receipt.html
  hasta_la_vista_money/receipts/templates/receipts/modals/add_seller.html
  hasta_la_vista_money/receipts/templates/receipts/receipts.html
Due: none

changed django-bootstrap5 to django-crispy-form
  hasta_la_vista_money/budget/templates/budget.html
  hasta_la_vista_money/expense/templates/expense/change_expense.html
  hasta_la_vista_money/expense/templates/expense/expense.html
  hasta_la_vista_money/expense/templates/expense/modals/add_category_expense.html
  hasta_la_vista_money/expense/templates/expense/modals/add_expense.html
  hasta_la_vista_money/expense/templates/expense/modals/show_category_expense.html
  hasta_la_vista_money/income/templates/income/change_income.html
  hasta_la_vista_money/income/templates/income/modals/add_category_income.html
  hasta_la_vista_money/income/templates/income/modals/add_income.html
  hasta_la_vista_money/income/templates/income/modals/show_category_income.html
  hasta_la_vista_money/loan/templates/loan/loan.html
  hasta_la_vista_money/reports/templates/reports/reports.html
  hasta_la_vista_money/users/templates/users/login.html
  hasta_la_vista_money/users/templates/users/password_reset_confirm.html
  hasta_la_vista_money/users/templates/users/profile.html
  hasta_la_vista_money/users/templates/users/registration.html
  templates/404.html
Due: none

Path conditions:
  black: any of: \.py$, but not: migrations
  isort: any of: \.py$, but not: migrations
  flake8: any of: \.py$
  yesqa: any of: \.py$
