Repository hlvm-app/hasta-la-vista-money: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8, yesqa

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    -    id: check-ast
    -    id: trailing-whitespace
    -    id: check-toml
    -    id: end-of-file-fixer
         exclude: 'styles.css.map'

-   repo: https://github.com/asottile/add-trailing-comma
    rev: v3.1.0
    hooks:
    -   id: add-trailing-comma

-   repo: https://github.com/python-poetry/poetry
    rev: 1.6.0
    hooks:
    -   id: poetry-check
    -   id: poetry-lock
    -   id: poetry-export
        args: ["-f", "requirements.txt", "-o", "requirements/dev.txt", "--with", "dev", "--without-hashes"]

-   repo: https://github.com/python-poetry/poetry
    rev: 1.6.0
    hooks:
    -   id: poetry-check
    -   id: poetry-lock
    -   id: poetry-export
        args: [ "-f", "requirements.txt", "-o", "requirements/prod.txt", "--without-hashes"]

-   repo: local
    hooks:
    -   id: black
        name: Format with Black
        entry: black
        language: system
        types: [python]
        args: ['--skip-string-normalization']
        exclude: 'migrations'

    -   id: isort
        name: isort
        entry: isort
        language: system
        types: [ python ]
        exclude: 'migrations'

    -   id: flake8
        name: Check with Flake8
        entry: flake8
        language: system
        types: [ python ]

    -   id: yesqa
        name: yesqa
        entry: yesqa
        language: system
        types: [ python ]
        
-   repo: https://github.com/thclark/pre-commit-sphinx
    rev: 0.0.1
    hooks:
    -   id: build-docs
        args: ['--cache-dir', 'docs/doctrees', '--html-dir', 'docs/html', '--source-dir', 'docs/source']
        language_version: python3

Добавил подкатегории
  hasta_la_vista_money/commonlogic/forms.py
  hasta_la_vista_money/commonlogic/views.py
  hasta_la_vista_money/expense/forms.py
  hasta_la_vista_money/expense/migrations/0015_expensecategory_parent_category.py
  hasta_la_vista_money/expense/models.py
  hasta_la_vista_money/expense/views.py
  hasta_la_vista_money/income/forms.py
  hasta_la_vista_money/income/migrations/0020_alter_incomecategory_options_and_more.py
  hasta_la_vista_money/income/views.py
Due: black, isort, flake8, yesqa

Добавил подкатегории расходов
  hasta_la_vista_money/commonlogic/views.py
  hasta_la_vista_money/expense/forms.py
  hasta_la_vista_money/expense/templates/expense/expense.html
  hasta_la_vista_money/expense/tests.py
  hasta_la_vista_money/expense/views.py
Due: black, isort, flake8, yesqa

added and updated packages
  poetry.lock
  pyproject.toml
  requirements/dev.txt
  requirements/prod.txt
Due: none

Рефакторинг
  hasta_la_vista_money/income/forms.py
  hasta_la_vista_money/income/tests.py
  hasta_la_vista_money/income/views.py
Due: black, isort, flake8, yesqa

Рефакторинг
  hasta_la_vista_money/commonlogic/views.py
  hasta_la_vista_money/expense/views.py
  hasta_la_vista_money/income/views.py
Due: black, isort, flake8, yesqa

Рефакторинг
  hasta_la_vista_money/commonlogic/views.py
  hasta_la_vista_money/expense/views.py
  hasta_la_vista_money/income/forms.py
  hasta_la_vista_money/income/views.py
Due: black, isort, flake8, yesqa

Перенёс статистику по чекам в раздел с чеками
  hasta_la_vista_money/account/views.py
  hasta_la_vista_money/expense/templates/expense/expense.html
  hasta_la_vista_money/expense/views.py
  hasta_la_vista_money/receipts/templates/receipts/receipts.html
  hasta_la_vista_money/receipts/views.py
Due: black, isort, flake8, yesqa

Перенёс статистику по чекам в раздел с чеками
  hasta_la_vista_money/expense/templates/expense/expense.html
  hasta_la_vista_money/expense/views.py
  hasta_la_vista_money/receipts/templates/receipts/receipts.html
  hasta_la_vista_money/receipts/views.py
Due: black, isort, flake8, yesqa

Исправил поведение, когда чек не пришёл из налоговой
  hasta_la_vista_money/bot/receipt_handler/receipt_parser_text.py
Due: black, isort, flake8, yesqa

Добавил константу
  hasta_la_vista_money/constants.py
Due: black, isort, flake8, yesqa

Вынес модальные окна в отдельные файлы
  hasta_la_vista_money/expense/templates/expense/expense.html
  hasta_la_vista_money/expense/templates/expense/modals/add_category_expense.html
  hasta_la_vista_money/expense/templates/expense/modals/add_expense.html
  hasta_la_vista_money/expense/templates/expense/modals/show_category_expense.html
Due: none

Вынес модальные окна в отдельные файлы
  hasta_la_vista_money/account/templates/account/account.html
  hasta_la_vista_money/account/templates/account/modals/add_account.html
  hasta_la_vista_money/account/templates/account/modals/exchange_money_account.html
  hasta_la_vista_money/account/templates/account/modals/statistics.html
Due: none

fix order
  hasta_la_vista_money/expense/views.py
Due: black, isort, flake8, yesqa

Разнёс блоки по разным файлам
  hasta_la_vista_money/income/templates/income/income.html
  hasta_la_vista_money/income/templates/income/modals/add_category_income.html
  hasta_la_vista_money/income/templates/income/modals/add_income.html
  hasta_la_vista_money/income/templates/income/modals/show_category_income.html
  hasta_la_vista_money/income/templates/income/show_income.html
Due: none

Разнёс блоки по разным файлам
  hasta_la_vista_money/receipts/templates/receipts/filter.html
  hasta_la_vista_money/receipts/templates/receipts/modals/add_receipt.html
  hasta_la_vista_money/receipts/templates/receipts/modals/add_seller.html
  hasta_la_vista_money/receipts/templates/receipts/modals/frequently_purchased_products.html
  hasta_la_vista_money/receipts/templates/receipts/modals/receipts_statistics.html
  hasta_la_vista_money/receipts/templates/receipts/receipts.html
Due: none

migrate
  hasta_la_vista_money/account/migrations/0016_alter_transfermoneylog_exchange_date.py
  hasta_la_vista_money/budget/migrations/0001_initial.py
Due: flake8, yesqa

fix date
  hasta_la_vista_money/account/forms.py
  hasta_la_vista_money/account/models.py
  hasta_la_vista_money/commonlogic/forms.py
Due: black, isort, flake8, yesqa

fix date
  hasta_la_vista_money/account/forms.py
Due: black, isort, flake8, yesqa

fix error
  hasta_la_vista_money/bot/json_parser/json_parser.py
Due: black, isort, flake8, yesqa

added models
  hasta_la_vista_money/budget/models.py
Due: black, isort, flake8, yesqa

fix
  hasta_la_vista_money/bot/json_parser/json_parser.py
Due: black, isort, flake8, yesqa

fix
  hasta_la_vista_money/receipts/templates/receipts/receipts.html
Due: none

updated packages
  poetry.lock
  pyproject.toml
  requirements/dev.txt
  requirements/prod.txt
Due: none

Изменил поле ввода даты
  hasta_la_vista_money/account/forms.py
  hasta_la_vista_money/commonlogic/forms.py
  hasta_la_vista_money/expense/forms.py
  hasta_la_vista_money/income/forms.py
  hasta_la_vista_money/loan/forms.py
  hasta_la_vista_money/receipts/forms.py
Due: black, isort, flake8, yesqa

Убрал django-bootstrap-datepicker-plus
  config/django/base.py
  hasta_la_vista_money/account/forms.py
  hasta_la_vista_money/account/migrations/0017_alter_transfermoneylog_notes.py
  hasta_la_vista_money/account/migrations/0018_alter_transfermoneylog_notes.py
  poetry.lock
  pyproject.toml
Due: black, isort, flake8, yesqa

рефакторинг
  hasta_la_vista_money/expense/templates/expense/expense.html
  hasta_la_vista_money/income/templates/income/show_income.html
  hasta_la_vista_money/receipts/templates/receipts/receipts.html
Due: none

рефакторинг
  hasta_la_vista_money/receipts/templates/receipts/receipts.html
Due: none

рефакторинг
  hasta_la_vista_money/custom_mixin.py
Due: black, isort, flake8, yesqa

Добавил на страницы расходов и доходов родительские категории
  hasta_la_vista_money/expense/templates/expense/expense.html
  hasta_la_vista_money/expense/templates/expense/modals/show_category_expense.html
  hasta_la_vista_money/expense/views.py
  hasta_la_vista_money/income/templates/income/modals/show_category_income.html
  hasta_la_vista_money/income/templates/income/show_income.html
  hasta_la_vista_money/income/views.py
Due: black, isort, flake8, yesqa

рефакторинг
  hasta_la_vista_money/expense/templates/expense/expense.html
  hasta_la_vista_money/income/templates/income/show_income.html
Due: none

Поправил тесты
  hasta_la_vista_money/expense/tests.py
  hasta_la_vista_money/income/tests.py
Due: black, isort, flake8, yesqa

рефакторинг
  hasta_la_vista_money/expense/views.py
  hasta_la_vista_money/income/views.py
Due: black, isort, flake8, yesqa

add sentry (GlitchTip) logging
  config/django/base.py
  poetry.lock
  pyproject.toml
Due: black, isort, flake8, yesqa

add sentry (GlitchTip) logging
  poetry.lock
  pyproject.toml
  requirements/dev.txt
  requirements/prod.txt
Due: none

Добавил стили
  static/css/styles.css
  static/scss/styles.scss
Due: none

Новая форма для выбора даты
  hasta_la_vista_money/budget/forms.py
  hasta_la_vista_money/budget/templates/budget.html
Due: black, isort, flake8, yesqa

отображение новой формы для выбора даты
  hasta_la_vista_money/budget/views.py
Due: black, isort, flake8, yesqa

Сделал единую таблицу
  hasta_la_vista_money/budget/forms.py
  hasta_la_vista_money/budget/templates/budget.html
  hasta_la_vista_money/budget/views.py
Due: black, isort, flake8, yesqa

добавил отдельную модель для родительских категорий
  hasta_la_vista_money/expense/migrations/0016_parentcategoryexpense_and_more.py
  hasta_la_vista_money/expense/models.py
Due: black, isort, flake8, yesqa
