Repository hlvm-app/hasta-la-vista-money: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8, yesqa

black:
  name: Format with Black
  entry: black
  language: system
  args:
  - --skip-string-normalization

isort:
  name: isort
  entry: isort
  language: system

flake8:
  name: Check with Flake8
  entry: flake8
  language: system

yesqa:
  name: yesqa
  entry: yesqa
  language: system

refactoring
  app.json
Due: none

refactoring
  hasta_la_vista_money/account/migrations/0028_alter_account_user_alter_transfermoneylog_user.py
  hasta_la_vista_money/budget/migrations/0006_alter_datelist_user_alter_planning_user.py
  hasta_la_vista_money/expense/migrations/0021_alter_expense_user_alter_expensecategory_user.py
  hasta_la_vista_money/income/migrations/0024_alter_income_user_alter_incomecategory_user.py
  hasta_la_vista_money/loan/migrations/0022_alter_loan_user_alter_paymentmakeloan_user_and_more.py
  hasta_la_vista_money/receipts/migrations/0015_alter_customer_user_alter_product_user_and_more.py
  hasta_la_vista_money/users/migrations/0012_alter_telegramuser_user_delete_customuser.py
Due: flake8, yesqa

refactoring
  hasta_la_vista_money/account/serializers.py
Due: black, isort, flake8, yesqa

refactoring
  .github/workflows/hasta_la_vista_money.yaml
Due: none

refactoring
  hasta_la_vista_money/users/migrations/0008_remove_user_policy_and_more.py
  hasta_la_vista_money/users/migrations/0009_rename_user_customuser.py
  hasta_la_vista_money/users/migrations/0010_user.py
  hasta_la_vista_money/users/migrations/0011_selectedaccount.py
Due: flake8, yesqa

refactoring
  hasta_la_vista_money/account/migrations/0029_alter_account_user_alter_transfermoneylog_user.py
  hasta_la_vista_money/budget/migrations/0007_alter_datelist_user_alter_planning_user.py
  hasta_la_vista_money/expense/migrations/0022_alter_expense_user_alter_expensecategory_user.py
  hasta_la_vista_money/income/migrations/0025_alter_income_user_alter_incomecategory_user.py
  hasta_la_vista_money/loan/migrations/0023_alter_loan_user_alter_paymentmakeloan_user_and_more.py
  hasta_la_vista_money/receipts/migrations/0016_alter_customer_user_alter_product_user_and_more.py
Due: flake8, yesqa

refactoring
  hasta_la_vista_money/users/tests.py
Due: black, isort, flake8, yesqa

refactoring
  hasta_la_vista_money/receipts/forms.py
  hasta_la_vista_money/receipts/views.py
Due: black, isort, flake8, yesqa

Удалил форму добавления файлов
  hasta_la_vista_money/receipts/forms.py
  hasta_la_vista_money/receipts/migrations/0017_fileupload.py
  hasta_la_vista_money/receipts/migrations/0018_delete_fileupload.py
  hasta_la_vista_money/receipts/templates/receipts/modals/add_receipt.html
  hasta_la_vista_money/receipts/urls.py
  hasta_la_vista_money/receipts/views.py
Due: black, isort, flake8, yesqa

поправил конфиг
  config/django/base.py
Due: black, isort, flake8, yesqa

refactoring account app
  hasta_la_vista_money/account/apis.py
  hasta_la_vista_money/account/urls.py
  hasta_la_vista_money/account/views.py
Due: black, isort, flake8, yesqa

refactoring receipts app
  hasta_la_vista_money/receipts/apis.py
  hasta_la_vista_money/receipts/urls.py
  hasta_la_vista_money/receipts/views.py
Due: black, isort, flake8, yesqa

refactoring receipts app
  hasta_la_vista_money/receipts/views.py
Due: black, isort, flake8, yesqa

refactoring users app
  hasta_la_vista_money/users/apis.py
  hasta_la_vista_money/users/urls.py
  hasta_la_vista_money/users/views.py
Due: black, isort, flake8, yesqa

refactoring receipts app
  hasta_la_vista_money/receipts/services.py
  hasta_la_vista_money/receipts/views.py
Due: black, isort, flake8, yesqa

refactoring docker
  docker-compose.yaml
  docker/local.Dockerfile
  docker/production.Dockerfile
Due: none

refactoring static files
  config/django/base.py
Due: black, isort, flake8, yesqa

added qodana
  .github/workflows/qodana.yaml
Due: none

added qodana
  .github/workflows/qodana.yaml
  qodana.yaml
Due: none

fix
  hasta_la_vista_money/receipts/apis.py
Due: black, isort, flake8, yesqa

linter
  hasta_la_vista_money/account/apis.py
  hasta_la_vista_money/account/tests.py
  hasta_la_vista_money/users/apis.py
  hasta_la_vista_money/users/urls.py
Due: black, isort, flake8, yesqa

refactoring dockerfile
  Dockerfile
  docker-compose.yaml
  docker/local.Dockerfile
  docker/production.Dockerfile
Due: none

Создал docker представления
  docker-compose.yaml
  docker/production.Dockerfile
Due: none

Убрал восстановление пароля
  hasta_la_vista_money/users/templates/users/login.html
  hasta_la_vista_money/users/templates/users/password_reset_confirm.html
Due: none

Поправил условия дебага
  config/django/base.py
Due: black, isort, flake8, yesqa

updated packages
  poetry.lock
  requirements/dev.txt
  requirements/prod.txt
Due: none

change favicon
  static/img/favicon/favicon.ico
Due: none

Update base.py
  config/django/base.py
Due: black, isort, flake8, yesqa

Create docker-publish.yml
  .github/workflows/docker-publish.yml
Due: none

Update docker-publish.yml
  .github/workflows/docker-publish.yml
Due: none

Path conditions:
  black: any of: \.py$, but not: migrations
  isort: any of: \.py$, but not: migrations
  flake8: any of: \.py$
  yesqa: any of: \.py$
