Repository hlvm-app/hasta-la-vista-money: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8, yesqa

black:
  name: Format with Black
  entry: black
  language: system
  args:
  - --skip-string-normalization

isort:
  name: isort
  entry: isort
  language: system

flake8:
  name: Check with Flake8
  entry: flake8
  language: system

yesqa:
  name: yesqa
  entry: yesqa
  language: system

update packages
  poetry.lock
Due: none

added url planning
  hasta_la_vista_money/budget/urls.py
Due: black, isort, flake8, yesqa

refactoring
  hasta_la_vista_money/budget/views.py
Due: black, isort, flake8, yesqa

refactoring
  hasta_la_vista_money/commonlogic/forms.py
Due: black, isort, flake8, yesqa

update packages
  requirements/dev.txt
  requirements/prod.txt
Due: none

update packages
  .github/workflows/hasta_la_vista_money.yaml
Due: none

Create localizely.yml
  localizely.yml
Due: none

added text to translate
  templates/header.html
Due: none

Update base.py
  config/django/base.py
Due: black, isort, flake8, yesqa

removed
  localizely.yml
Due: none

Исправил ошибку, когда json чека возвращается в списке
  hasta_la_vista_money/bot/json_parser/json_parser.py
Due: black, isort, flake8, yesqa

added annotate
  hasta_la_vista_money/bot/receipt_handler/data_classes.py
  hasta_la_vista_money/bot/receipt_handler/receipt_parser.py
Due: black, isort, flake8, yesqa

added translate block
  templates/header.html
Due: none

added django rosetta
  config/django/base.py
  config/django/dev.py
  config/django/prod.py
  config/urls.py
  poetry.lock
  pyproject.toml
Due: black, isort, flake8, yesqa

added translate block
  templates/404.html
  templates/500.html
  templates/error_modal.html
Due: none

added translate block
  hasta_la_vista_money/users/templates/users/login.html
  hasta_la_vista_money/users/templates/users/password_reset_confirm.html
  templates/base.html
Due: none

added translate block
  hasta_la_vista_money/users/templates/users/registration.html
Due: none

added translate block
  hasta_la_vista_money/receipts/templates/receipts/receipts.html
Due: none

added translate block
  hasta_la_vista_money/receipts/templates/receipts/filter.html
Due: none

added translate block
  hasta_la_vista_money/loan/templates/loan/loan.html
Due: none

added translate block
  hasta_la_vista_money/income/templates/income/change_income.html
  hasta_la_vista_money/income/templates/income/modals/add_category_income.html
  hasta_la_vista_money/income/templates/income/modals/add_income.html
  hasta_la_vista_money/income/templates/income/modals/show_category_income.html
  hasta_la_vista_money/income/templates/income/show_income.html
Due: none

added translate block
  hasta_la_vista_money/income/templates/income/show_income.html
Due: none

added translate block
  hasta_la_vista_money/expense/templates/expense/change_expense.html
  hasta_la_vista_money/expense/templates/expense/expense.html
  hasta_la_vista_money/expense/templates/expense/modals/add_category_expense.html
  hasta_la_vista_money/expense/templates/expense/modals/add_expense.html
  hasta_la_vista_money/expense/templates/expense/modals/show_category_expense.html
Due: none

added translate block
  hasta_la_vista_money/account/templates/account/account.html
  hasta_la_vista_money/account/templates/account/change_account.html
  hasta_la_vista_money/account/templates/account/modals/add_account.html
  hasta_la_vista_money/account/templates/account/modals/exchange_money_account.html
  hasta_la_vista_money/account/templates/account/modals/statistics.html
  hasta_la_vista_money/budget/templates/budget.html
  templates/base.html
Due: none

added translate block
  hasta_la_vista_money/budget/templates/budget.html
Due: none

added new variables
  locale/en/LC_MESSAGES/django.mo
  locale/en/LC_MESSAGES/django.po
Due: none

refactoring
  config/urls.py
Due: black, isort, flake8, yesqa

added django-rosetta
  requirements/dev.txt
  requirements/prod.txt
Due: none

added gettext blocks
  hasta_la_vista_money/account/forms.py
  hasta_la_vista_money/account/models.py
  hasta_la_vista_money/account/views.py
  hasta_la_vista_money/constants.py
Due: black, isort, flake8, yesqa

fix
  hasta_la_vista_money/account/models.py
  hasta_la_vista_money/receipts/models.py
Due: black, isort, flake8, yesqa

changed constants views
  config/django/sessions.py
  hasta_la_vista_money/account/forms.py
  hasta_la_vista_money/account/models.py
  hasta_la_vista_money/account/tests.py
  hasta_la_vista_money/account/views.py
  hasta_la_vista_money/bot/middleware/middleware.py
  hasta_la_vista_money/bot/webhooks/webhooks.py
  hasta_la_vista_money/commonlogic/models.py
  hasta_la_vista_money/constants.py
  hasta_la_vista_money/expense/forms.py
  hasta_la_vista_money/expense/models.py
  hasta_la_vista_money/expense/tests.py
  hasta_la_vista_money/income/models.py
  hasta_la_vista_money/income/tests.py
  hasta_la_vista_money/loan/models.py
  hasta_la_vista_money/loan/tasks.py
  hasta_la_vista_money/receipts/models.py
  hasta_la_vista_money/receipts/tests.py
  hasta_la_vista_money/users/models.py
  hasta_la_vista_money/users/tests.py
Due: black, isort, flake8, yesqa

translate text prepare
  hasta_la_vista_money/account/forms.py
  hasta_la_vista_money/account/models.py
  hasta_la_vista_money/account/views.py
  hasta_la_vista_money/bot/receipt_handler/receipt_parser.py
  hasta_la_vista_money/constants.py
  hasta_la_vista_money/receipts/views.py
  locale/en/LC_MESSAGES/django.po
Due: black, isort, flake8, yesqa

translate text prepare
  hasta_la_vista_money/users/templates/users/password_reset_confirm.html
  locale/en/LC_MESSAGES/django.mo
  locale/en/LC_MESSAGES/django.po
Due: none

fix model fields
  hasta_la_vista_money/account/migrations/0019_alter_account_currency_alter_transfermoneylog_notes.py
Due: flake8, yesqa

fix security
  hasta_la_vista_money/budget/views.py
Due: black, isort, flake8, yesqa

fix test ok
  fixtures/account.yaml
  hasta_la_vista_money/account/tests.py
Due: black, isort, flake8, yesqa

добавил аннотации
  hasta_la_vista_money/bot/receipt_handler/data_classes.py
  hasta_la_vista_money/bot/receipt_handler/receipt_api_receiver.py
  hasta_la_vista_money/bot/receipt_handler/receipt_parse_handler.py
  hasta_la_vista_money/bot/receipt_handler/receipt_parser.py
  hasta_la_vista_money/bot/services.py
Due: black, isort, flake8, yesqa

added django-stubs-(ext)
  poetry.lock
  pyproject.toml
Due: none

changed annotation typing
  hasta_la_vista_money/bot/receipt_handler/receipt_api_receiver.py
  hasta_la_vista_money/bot/receipt_handler/receipt_parser.py
  hasta_la_vista_money/bot/services.py
  hasta_la_vista_money/constants.py
Due: black, isort, flake8, yesqa

Path conditions:
  black: any of: \.py$, but not: migrations
  isort: any of: \.py$, but not: migrations
  flake8: any of: \.py$
  yesqa: any of: \.py$
