Repository hlvm-app/hasta-la-vista-money: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8, yesqa

black:
  name: Format with Black
  entry: black
  language: system
  args:
  - --skip-string-normalization

isort:
  name: isort
  entry: isort
  language: system

flake8:
  name: Check with Flake8
  entry: flake8
  language: system

yesqa:
  name: yesqa
  entry: yesqa
  language: system

Добавил important к стилю
  static/css/styles.css
  static/css/styles.css.map
  static/scss/style.scss
Due: none

migrate
  hasta_la_vista_money/loan/migrations/0005_paymentmakeloan_date.py
  hasta_la_vista_money/loan/migrations/0006_delete_paymentmakeloan.py
  hasta_la_vista_money/loan/migrations/0007_paymentmakeloan.py
  hasta_la_vista_money/loan/migrations/0008_alter_loan_period_loan.py
Due: flake8, yesqa

update
  .pre-commit-config.yaml
Due: none

update
  poetry.lock
  pyproject.toml
  requirements/dev.txt
  requirements/prod.txt
Due: none

Добавил форму внесения платежа за кредит
  hasta_la_vista_money/loan/views.py
Due: black, isort, flake8, yesqa

добавил текст для кнопки
  templates/base.html
Due: none

добавил новую константу
  hasta_la_vista_money/constants.py
Due: black, isort, flake8, yesqa

добавил форму добавления платежа
  hasta_la_vista_money/loan/forms.py
Due: black, isort, flake8, yesqa

добавил форму добавления платежа
  hasta_la_vista_money/loan/templates/loan/loan.html
Due: none

Добавил строковое представление для кредита
  hasta_la_vista_money/loan/models.py
Due: black, isort, flake8, yesqa

Добавил ссылку на внесения платежа по кредиту
  hasta_la_vista_money/loan/urls.py
Due: black, isort, flake8, yesqa

Добавил представление для обработки внесения платежа по кредиту
  hasta_la_vista_money/loan/views.py
Due: black, isort, flake8, yesqa

changed
  app.json
Due: none

сортировку перенес в Meta Models
  hasta_la_vista_money/account/models.py
  hasta_la_vista_money/applications/views.py
  hasta_la_vista_money/expense/models.py
  hasta_la_vista_money/expense/views.py
  hasta_la_vista_money/income/models.py
  hasta_la_vista_money/receipts/models.py
  hasta_la_vista_money/receipts/views.py
Due: black, isort, flake8, yesqa

поправил сортировку
  hasta_la_vista_money/expense/views.py
Due: black, isort, flake8, yesqa

Убрал фио
  templates/header.html
Due: none

Внес изменения в текст
  README.rst
Due: none

Поправил текст
  README.rst
Due: none

add sphinx hooks
  .pre-commit-config.yaml
Due: none

added get_absolute_url
  hasta_la_vista_money/account/models.py
Due: black, isort, flake8, yesqa

migration
  hasta_la_vista_money/account/migrations/0006_alter_account_options.py
  hasta_la_vista_money/expense/migrations/0003_alter_expense_options_alter_expensetype_options.py
  hasta_la_vista_money/income/migrations/0003_alter_income_options_alter_incometype_options.py
  hasta_la_vista_money/receipts/migrations/0009_alter_receipt_options.py
Due: flake8, yesqa

поправил link
  hasta_la_vista_money/account/urls.py
Due: black, isort, flake8, yesqa

update poetry packages
  poetry.lock
  pyproject.toml
  runtime.txt
Due: none

added method class get_absolute_url
  hasta_la_vista_money/account/models.py
  hasta_la_vista_money/applications/templates/applications/page_application.html
  hasta_la_vista_money/expense/models.py
  hasta_la_vista_money/expense/templates/expense/expense.html
  hasta_la_vista_money/income/models.py
  hasta_la_vista_money/income/templates/income/income.html
Due: black, isort, flake8, yesqa

migrate
  hasta_la_vista_money/income/migrations/0004_alter_income_user.py
  hasta_la_vista_money/income/migrations/0005_alter_income_user.py
  hasta_la_vista_money/loan/migrations/0009_alter_paymentmakeloan_loan.py
  hasta_la_vista_money/loan/migrations/0010_alter_paymentmakeloan_loan.py
Due: flake8, yesqa

lint
  hasta_la_vista_money/expense/models.py
  hasta_la_vista_money/income/models.py
Due: black, isort, flake8, yesqa

update config
  .pre-commit-config.yaml
Due: none

update python version
  requirements/dev.txt
  requirements/prod.txt
Due: none

fix: Dockerfile to reduce vulnerabilities
  Dockerfile
Due: none

updated versions
  .github/workflows/hasta_la_vista_money.yaml
  Dockerfile
Due: none

update
  static/css/styles.css
  static/css/styles.css.map
  static/scss/styles.scss
Due: none

changed styles
  static/css/styles.css
  static/scss/_mobile.scss
  static/scss/styles.scss
  templates/header.html
Due: none

update
  static/css/styles.css
Due: none

Исправлена высота таблицы со счетами
  hasta_la_vista_money/applications/templates/applications/page_application.html
  static/css/styles.css
  static/scss/_account.scss
  static/scss/styles.scss
Due: none

оптимизировал sql запросы
  hasta_la_vista_money/applications/views.py
  hasta_la_vista_money/bot/bot_handler/auth_user_handler.py
Due: black, isort, flake8, yesqa

Добавил параметры для debug_toolbar
  config/django/base.py
Due: black, isort, flake8, yesqa

Добавил индексы
  hasta_la_vista_money/account/models.py
Due: black, isort, flake8, yesqa

Добавил индексы
  hasta_la_vista_money/expense/models.py
  hasta_la_vista_money/income/models.py
  hasta_la_vista_money/loan/models.py
  hasta_la_vista_money/receipts/models.py
Due: black, isort, flake8, yesqa

Path conditions:
  black: any of: \.py$, but not: migrations
  isort: any of: \.py$, but not: migrations
  flake8: any of: \.py$
  yesqa: any of: \.py$
