Repository hlvm-app/hasta-la-vista-money: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8, yesqa

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    -    id: check-ast
    -    id: trailing-whitespace
    -    id: check-toml
    -    id: end-of-file-fixer
         exclude: 'styles.css.map'

-   repo: https://github.com/asottile/add-trailing-comma
    rev: v3.1.0
    hooks:
    -   id: add-trailing-comma

-   repo: https://github.com/python-poetry/poetry
    rev: 1.6.0
    hooks:
    -   id: poetry-check
    -   id: poetry-lock
    -   id: poetry-export
        args: ["-f", "requirements.txt", "-o", "requirements/dev.txt", "--with", "dev", "--without-hashes"]

-   repo: https://github.com/python-poetry/poetry
    rev: 1.6.0
    hooks:
    -   id: poetry-check
    -   id: poetry-lock
    -   id: poetry-export
        args: [ "-f", "requirements.txt", "-o", "requirements/prod.txt", "--without-hashes"]

-   repo: local
    hooks:
    -   id: black
        name: Format with Black
        entry: black
        language: system
        types: [python]
        args: ['--skip-string-normalization']
        exclude: 'migrations'

    -   id: isort
        name: isort
        entry: isort
        language: system
        types: [ python ]
        exclude: 'migrations'

    -   id: flake8
        name: Check with Flake8
        entry: flake8
        language: system
        types: [ python ]

    -   id: yesqa
        name: yesqa
        entry: yesqa
        language: system
        types: [ python ]
        
-   repo: https://github.com/thclark/pre-commit-sphinx
    rev: 0.0.1
    hooks:
    -   id: build-docs
        args: ['--cache-dir', 'docs/doctrees', '--html-dir', 'docs/html', '--source-dir', 'docs/source']
        language_version: python3

Убрал отдельную модель
  hasta_la_vista_money/expense/migrations/0017_alter_expensecategory_parent_category_and_more.py
  hasta_la_vista_money/expense/migrations/0018_remove_expensecategory_parent_category_self_and_more.py
  hasta_la_vista_money/expense/models.py
  hasta_la_vista_money/expense/views.py
Due: black, isort, flake8, yesqa

рефакторинг
  hasta_la_vista_money/expense/forms.py
Due: black, isort, flake8, yesqa

Добавил категории
  hasta_la_vista_money/budget/templates/budget.html
  hasta_la_vista_money/budget/views.py
Due: black, isort, flake8, yesqa

remove
  hasta_la_vista_money/expense/migrations/0017_alter_expensecategory_parent_category_and_more.py
Due: flake8, yesqa

remove
  hasta_la_vista_money/expense/migrations/0018_remove_expensecategory_parent_category_self_and_more.py
Due: flake8, yesqa

remove
  hasta_la_vista_money/expense/migrations/0017_remove_expensecategory_parent_category_self_and_more.py
Due: flake8, yesqa

Сделал табличное представление планирование бюджета по родительским категориям
  hasta_la_vista_money/budget/templates/budget.html
  hasta_la_vista_money/budget/views.py
Due: black, isort, flake8, yesqa

Добавил строчку с итогами по месяцам
  hasta_la_vista_money/budget/templates/budget.html
  hasta_la_vista_money/budget/views.py
Due: black, isort, flake8, yesqa

updated version project to 3.2.0
  hasta_la_vista_money/__init__.py
  setup.cfg
Due: black, isort, flake8, yesqa

Добавил генерацию дат при регистрации пользователя и по кнопке
  hasta_la_vista_money/budget/forms.py
  hasta_la_vista_money/budget/templates/budget.html
  hasta_la_vista_money/budget/urls.py
  hasta_la_vista_money/budget/views.py
  hasta_la_vista_money/commonlogic/generate_dates.py
Due: black, isort, flake8, yesqa

Добавил генерацию дат при регистрации пользователя и по кнопке
  hasta_la_vista_money/users/views.py
Due: black, isort, flake8, yesqa

fix typing
  hasta_la_vista_money/commonlogic/generate_dates.py
Due: black, isort, flake8, yesqa

Рефакторинг
  hasta_la_vista_money/budget/forms.py
  hasta_la_vista_money/budget/templates/budget.html
  hasta_la_vista_money/budget/views.py
Due: black, isort, flake8, yesqa

Рефакторинг
  hasta_la_vista_money/expense/views.py
Due: black, isort, flake8, yesqa

Рефакторинг
  hasta_la_vista_money/expense/forms.py
Due: black, isort, flake8, yesqa

fix error
  hasta_la_vista_money/income/forms.py
Due: black, isort, flake8, yesqa

fix error
  hasta_la_vista_money/income/views.py
Due: black, isort, flake8, yesqa

Поправил стили и добавил шаблон для доходов
  hasta_la_vista_money/budget/templates/budget.html
Due: none

Рефакторинг
  hasta_la_vista_money/budget/views.py
Due: black, isort, flake8, yesqa

поправил стили
  static/css/styles.css
  static/scss/styles.scss
Due: none

поправил таблицу
  hasta_la_vista_money/budget/templates/budget.html
Due: none

рефакторинг
  hasta_la_vista_money/budget/views.py
Due: black, isort, flake8, yesqa

рефакторинг
  hasta_la_vista_money/expense/views.py
Due: black, isort, flake8, yesqa

рефакторинг
  hasta_la_vista_money/income/views.py
Due: black, isort, flake8, yesqa

рефакторинг
  hasta_la_vista_money/expense/forms.py
  hasta_la_vista_money/expense/views.py
Due: black, isort, flake8, yesqa

рефакторинг
  hasta_la_vista_money/commonlogic/views.py
  hasta_la_vista_money/constants.py
  hasta_la_vista_money/expense/views.py
  hasta_la_vista_money/income/views.py
Due: black, isort, flake8, yesqa

рефакторинг
  hasta_la_vista_money/commonlogic/views.py
  hasta_la_vista_money/custom_mixin.py
  hasta_la_vista_money/expense/views.py
  hasta_la_vista_money/income/views.py
Due: black, isort, flake8, yesqa

рефакторинг
  hasta_la_vista_money/commonlogic/views.py
Due: black, isort, flake8, yesqa

рефакторинг
  hasta_la_vista_money/commonlogic/forms.py
  hasta_la_vista_money/expense/forms.py
  hasta_la_vista_money/income/forms.py
  hasta_la_vista_money/receipts/forms.py
Due: black, isort, flake8, yesqa

Update README.rst
  README.rst
Due: none

Добавил текст
  README.rst
Due: none

Fixed when expense categories were displayed in the income addition form
  hasta_la_vista_money/commonlogic/forms.py
  hasta_la_vista_money/expense/views.py
  hasta_la_vista_money/income/views.py
Due: black, isort, flake8, yesqa

up python version
  poetry.lock
  pyproject.toml
  runtime.txt
Due: none

fix error
  hasta_la_vista_money/commonlogic/forms.py
Due: black, isort, flake8, yesqa

up python version
  requirements/prod.txt
Due: none

added django-extensions
  pyproject.toml
Due: none

added django-extensions
  poetry.lock
Due: none

added js script
  static/js/planning.js
  templates/base.html
Due: none

refactor
  hasta_la_vista_money/budget/templates/budget.html
Due: none
