Repository hlvm-app/hasta-la-vista-money: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8, yesqa

black:
  name: Format with Black
  entry: black
  language: system
  args:
  - --skip-string-normalization

isort:
  name: isort
  entry: isort
  language: system

flake8:
  name: Check with Flake8
  entry: flake8
  language: system

yesqa:
  name: yesqa
  entry: yesqa
  language: system

рефакторинг
  hasta_la_vista_money/bot/receipt_handler/receipt_parser_json.py
  hasta_la_vista_money/bot/receipt_handler/receipt_parser_text.py
  hasta_la_vista_money/bot/tasks/__init__.py
  hasta_la_vista_money/bot/tasks/tasks.py
Due: black, isort, flake8, yesqa

рефакторинг
  hasta_la_vista_money/bot/receipt_handler/text_qr_code_handler.py
Due: black, isort, flake8, yesqa

removed celery
  Procfile
  config/django/base.py
  poetry.lock
  pyproject.toml
  requirements/prod.txt
Due: black, isort, flake8, yesqa

removed celery
  hasta_la_vista_money/__init__.py
Due: black, isort, flake8, yesqa

Переделал api запроса чеков
  hasta_la_vista_money/bot/receipt_handler/content_type_handler.py
  hasta_la_vista_money/bot/receipt_handler/receipt_parser_text.py
  hasta_la_vista_money/bot/receipt_handler/text_qr_code_handler.py
Due: black, isort, flake8, yesqa

Переделал api запроса чеков
  hasta_la_vista_money/bot/receipt_handler/receipt_parser_text.py
  hasta_la_vista_money/bot/receipt_handler/text_qr_code_handler.py
Due: black, isort, flake8, yesqa

Переделал api запроса чеков
  hasta_la_vista_money/bot/receipt_handler/text_qr_code_handler.py
Due: black, isort, flake8, yesqa

Поправил ошибку
  hasta_la_vista_money/bot/receipt_handler/text_qr_code_handler.py
Due: black, isort, flake8, yesqa

рефакторинг
  config/celery.py
  config/django/base.py
  hasta_la_vista_money/expense/tasks.py
  hasta_la_vista_money/income/tasks.py
  hasta_la_vista_money/loan/tasks.py
  hasta_la_vista_money/loan/views.py
Due: black, isort, flake8, yesqa

добавил предупреждение
  README.rst
Due: none

поменял наследуемый класс
  hasta_la_vista_money/account/views.py
Due: black, isort, flake8, yesqa

поменял переопределенный метод на логичный get_context_data
  hasta_la_vista_money/loan/views.py
Due: black, isort, flake8, yesqa

Переделал форму
  hasta_la_vista_money/income/templates/income/income.html
Due: none

поменял переопределенный метод на логичный get_context_data
  hasta_la_vista_money/income/views.py
Due: black, isort, flake8, yesqa

поменял переопределенный метод на логичный get_context_data
  hasta_la_vista_money/receipts/views.py
Due: black, isort, flake8, yesqa

поменял переопределенный метод на логичный get_context_data
  hasta_la_vista_money/expense/views.py
Due: black, isort, flake8, yesqa

Рефакторинг
  hasta_la_vista_money/account/views.py
  hasta_la_vista_money/expense/views.py
  hasta_la_vista_money/income/views.py
  hasta_la_vista_money/loan/views.py
  hasta_la_vista_money/receipts/views.py
Due: black, isort, flake8, yesqa

removed
  hasta_la_vista_money/receipts/tasks.py
Due: black, isort, flake8, yesqa

Поправил фильтр и пагинацию
  hasta_la_vista_money/receipts/templates/receipts/receipts.html
Due: none

Обновил описание
  README.rst
Due: none

Поправил отображение 10 часто покупаемых товаров
  hasta_la_vista_money/receipts/templates/receipts/receipts.html
  hasta_la_vista_money/receipts/views.py
Due: black, isort, flake8, yesqa

Поменял название модели
  fixtures/expense_cat.yaml
  fixtures/income_cat.yaml
  hasta_la_vista_money/expense/forms.py
  hasta_la_vista_money/expense/migrations/0010_rename_expensetype_category_and_more.py
  hasta_la_vista_money/expense/migrations/0011_expense_parent_category.py
  hasta_la_vista_money/expense/migrations/0012_remove_expense_parent_category_and_more.py
  hasta_la_vista_money/expense/migrations/0013_remove_category_parent_category.py
  hasta_la_vista_money/expense/models.py
  hasta_la_vista_money/expense/views.py
  hasta_la_vista_money/income/forms.py
  hasta_la_vista_money/income/migrations/0011_rename_incometype_category_and_more.py
  hasta_la_vista_money/income/migrations/0012_category_parent_category.py
  hasta_la_vista_money/income/migrations/0013_remove_category_parent_category.py
  hasta_la_vista_money/income/migrations/0014_category_parent_category.py
  hasta_la_vista_money/income/migrations/0015_remove_category_parent_category.py
  hasta_la_vista_money/income/models.py
  hasta_la_vista_money/income/views.py
Due: black, isort, flake8, yesqa

Поменял название модели
  hasta_la_vista_money/expense/forms.py
  hasta_la_vista_money/expense/migrations/0014_rename_category_expensecategory_and_more.py
  hasta_la_vista_money/expense/models.py
  hasta_la_vista_money/expense/views.py
  hasta_la_vista_money/income/forms.py
  hasta_la_vista_money/income/migrations/0016_rename_category_incomecategory_and_more.py
  hasta_la_vista_money/income/models.py
  hasta_la_vista_money/income/views.py
Due: black, isort, flake8, yesqa

рефакторинг
  hasta_la_vista_money/income/templates/income/income.html
Due: none

migrate
  hasta_la_vista_money/income/migrations/0017_incomecategory_parent_category.py
  hasta_la_vista_money/income/migrations/0018_alter_incomecategory_options_incomecategory_level_and_more.py
  hasta_la_vista_money/income/migrations/0019_alter_incomecategory_options_and_more.py
  hasta_la_vista_money/income/migrations/0020_remove_incomecategory_parent_alter_income_category.py
Due: flake8, yesqa

Добавил в админку модель с категориями
  hasta_la_vista_money/income/admin.py
Due: black, isort, flake8, yesqa

migrate
  hasta_la_vista_money/income/migrations/0018_alter_incomecategory_options_incomecategory_level_and_more.py
  hasta_la_vista_money/income/migrations/0018_remove_incomecategory_parent_category.py
  hasta_la_vista_money/income/migrations/0019_alter_incomecategory_options_and_more.py
  hasta_la_vista_money/income/migrations/0020_remove_incomecategory_parent_alter_income_category.py
Due: flake8, yesqa

Поправил тесты
  fixtures/expense_cat.yaml
  fixtures/income_cat.yaml
  hasta_la_vista_money/expense/tests.py
  hasta_la_vista_money/income/tests.py
Due: black, isort, flake8, yesqa

update
  .github/workflows/hasta_la_vista_money.yaml
Due: none

excluded development from rollbar
  config/django/base.py
Due: black, isort, flake8, yesqa

Добавил текст и поменял стиль
  templates/404.html
Due: none

рефакторинг
  hasta_la_vista_money/custom_mixin.py
  static/js/errors_form.js
Due: black, isort, flake8, yesqa

рефакторинг
  hasta_la_vista_money/custom_mixin.py
  hasta_la_vista_money/income/migrations/0019_incomecategory_parent_category.py
Due: black, isort, flake8, yesqa

Добавил подкатегории. Возможность их создавать\удалять
  hasta_la_vista_money/commonlogic/views.py
  hasta_la_vista_money/income/forms.py
  hasta_la_vista_money/income/models.py
  hasta_la_vista_money/income/templates/income/income.html
  hasta_la_vista_money/income/tests.py
  hasta_la_vista_money/income/views.py
Due: black, isort, flake8, yesqa

рефакторинг
  hasta_la_vista_money/account/views.py
Due: black, isort, flake8, yesqa

рефакторинг
  hasta_la_vista_money/income/forms.py
  hasta_la_vista_money/income/views.py
Due: black, isort, flake8, yesqa

рефакторинг
  hasta_la_vista_money/commonlogic/forms.py
  hasta_la_vista_money/custom_mixin.py
  hasta_la_vista_money/income/tests.py
  hasta_la_vista_money/income/views.py
Due: black, isort, flake8, yesqa

Path conditions:
  black: any of: \.py$, but not: migrations
  isort: any of: \.py$, but not: migrations
  flake8: any of: \.py$
  yesqa: any of: \.py$
