Repository hlvm-app/hasta-la-vista-money: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8, yesqa

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
    -    id: check-ast
    -    id: trailing-whitespace
    -    id: check-toml
    -    id: end-of-file-fixer

-   repo: https://github.com/asottile/add-trailing-comma
    rev: v2.1.0
    hooks:
    -   id: add-trailing-comma
-   repo: local
    hooks:
    -   id: black
        name: Format with Black
        entry: black
        language: system
        types: [python]
        args: ['--skip-string-normalization']
        exclude: 'migrations'

    -   id: isort
        name: isort
        entry: isort
        language: system
        types: [ python ]
        exclude: 'migrations'

    -   id: flake8
        name: Check with Flake8
        entry: flake8
        language: system
        types: [ python ]

    -   id: yesqa
        name: yesqa
        entry: yesqa
        language: system
        types: [ python ]

Добавил новое приложение по кредитам
  config/django/base.py
  hasta_la_vista_money/loan/__init__.py
  hasta_la_vista_money/loan/apps.py
  hasta_la_vista_money/loan/forms.py
  hasta_la_vista_money/loan/migrations/__init__.py
  hasta_la_vista_money/loan/models.py
  hasta_la_vista_money/loan/views.py
Due: black, isort, flake8, yesqa

Добавил новое приложение по кредитам
  config/urls.py
  hasta_la_vista_money/loan/templates/loan/loan.html
  hasta_la_vista_money/loan/urls.py
  hasta_la_vista_money/loan/views.py
Due: black, isort, flake8, yesqa

Добавил кнопку для кредитов
  templates/header.html
Due: none

Поменял иконку для кнопки кредитов
  static/css/styles.css
  static/css/styles.css.map
  static/scss/_mobile.scss
  templates/header.html
Due: none

Update dokku.yaml
  .github/workflows/dokku.yaml
Due: none

preparing for celery
  config/celery.py
  hasta_la_vista_money/bot/tasks.py
  hasta_la_vista_money/expense/tasks.py
  hasta_la_vista_money/income/tasks.py
  hasta_la_vista_money/loan/tasks.py
  hasta_la_vista_money/receipts/tasks.py
  hasta_la_vista_money/reports/tasks.py
  hasta_la_vista_money/users/tasks.py
Due: black, isort, flake8, yesqa

настройка celery
  config/django/base.py
Due: black, isort, flake8, yesqa

Настройка celery
  config/celery.py
  hasta_la_vista_money/__init__.py
  requirements/prod.txt
Due: black, isort, flake8, yesqa

настройка
  hasta_la_vista_money/__init__.py
Due: black, isort, flake8, yesqa

Настройка Redis и Celery в проекте
  config/celery.py
  config/django/base.py
  hasta_la_vista_money/__init__.py
  poetry.lock
  pyproject.toml
  setup.cfg
Due: black, isort, flake8, yesqa

Добавил docstrings
  config/django/forms.py
Due: black, isort, flake8, yesqa

migrate database
  hasta_la_vista_money/loan/migrations/0001_initial.py
Due: flake8, yesqa

Выделил обработку текста от пользователя на celery
  hasta_la_vista_money/bot/receipt_parser_text.py
  hasta_la_vista_money/bot/receipt_parser_text_qrcode.py
  hasta_la_vista_money/bot/tasks.py
Due: black, isort, flake8, yesqa

Добавил worker
  Procfile
Due: none

поправил procfile
  Procfile
Due: none

поправил ошибку
  config/django/base.py
Due: black, isort, flake8, yesqa

Добавил в задачу обработаку json файла
  hasta_la_vista_money/bot/tasks.py
Due: black, isort, flake8, yesqa

Добавил в задачу обработку json файла
  hasta_la_vista_money/bot/receipt_parser_json.py
Due: black, isort, flake8, yesqa

исправил ошибки линтера
  hasta_la_vista_money/bot/receipt_parser_json.py
  hasta_la_vista_money/bot/tasks.py
Due: black, isort, flake8, yesqa

Добавил сортировку счетов
  hasta_la_vista_money/applications/views.py
Due: black, isort, flake8, yesqa

Добавил сортировку счетов по именам
  hasta_la_vista_money/applications/views.py
Due: black, isort, flake8, yesqa

fix error
  hasta_la_vista_money/applications/views.py
Due: black, isort, flake8, yesqa

fix sort
  fixtures/account.yaml
Due: none

added app.json
  app.json
Due: none

change predeploy
  app.json
Due: none

added responsive for tables html
  hasta_la_vista_money/applications/templates/applications/page_application.html
  hasta_la_vista_money/expense/templates/expense/expense.html
  hasta_la_vista_money/income/templates/income/income.html
Due: none

вынес форму
  hasta_la_vista_money/expense/templates/expense/expense.html
Due: none

вынес форму из колонки таблицы
  hasta_la_vista_money/expense/templates/expense/expense.html
Due: none

добавил бадж
  README.rst
Due: none

fix error
  hasta_la_vista_money/expense/templates/expense/expense.html
Due: none

Update forms.py
  config/django/forms.py
Due: black, isort, flake8, yesqa

python manage.py migrate перенес в app.json
  Procfile
  app.json
Due: none

добавил в проверку линтера config каталог
  Makefile
Due: none

вынес отправку сообщений пользователю отдельно в класс
  hasta_la_vista_money/bot/handle_receipt_manual.py
  hasta_la_vista_money/bot/handler_bot.py
  hasta_la_vista_money/bot/handler_pin_message.py
  hasta_la_vista_money/bot/handler_receipt_content_type.py
  hasta_la_vista_money/bot/middleware.py
  hasta_la_vista_money/bot/receipt_parse.py
  hasta_la_vista_money/bot/receipt_parse_handler.py
  hasta_la_vista_money/bot/send_message/__init__.py
  hasta_la_vista_money/bot/send_message/send_message_tg_user.py
  hasta_la_vista_money/users/views.py
Due: black, isort, flake8, yesqa
