Repository hlvm-app/hasta-la-vista-money: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8, yesqa

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    -    id: check-ast
    -    id: trailing-whitespace
    -    id: check-toml
    -    id: end-of-file-fixer
         exclude: 'styles.css.map'

-   repo: https://github.com/asottile/add-trailing-comma
    rev: v3.1.0
    hooks:
    -   id: add-trailing-comma

-   repo: https://github.com/python-poetry/poetry
    rev: 1.6.0
    hooks:
    -   id: poetry-check
    -   id: poetry-lock
    -   id: poetry-export
        args: ["-f", "requirements.txt", "-o", "requirements/dev.txt", "--with", "dev", "--without-hashes"]

-   repo: https://github.com/python-poetry/poetry
    rev: 1.6.0
    hooks:
    -   id: poetry-check
    -   id: poetry-lock
    -   id: poetry-export
        args: [ "-f", "requirements.txt", "-o", "requirements/prod.txt", "--without-hashes"]

-   repo: local
    hooks:
    -   id: black
        name: Format with Black
        entry: black
        language: system
        types: [python]
        args: ['--skip-string-normalization']
        exclude: 'migrations'

    -   id: isort
        name: isort
        entry: isort
        language: system
        types: [ python ]
        exclude: 'migrations'

    -   id: flake8
        name: Check with Flake8
        entry: flake8
        language: system
        types: [ python ]

    -   id: yesqa
        name: yesqa
        entry: yesqa
        language: system
        types: [ python ]
        
-   repo: https://github.com/thclark/pre-commit-sphinx
    rev: 0.0.1
    hooks:
    -   id: build-docs
        args: ['--cache-dir', 'docs/doctrees', '--html-dir', 'docs/html', '--source-dir', 'docs/source']
        language_version: python3

migrate
  hasta_la_vista_money/account/migrations/0010_alter_account_balance_alter_transfermoneylog_amount.py
  hasta_la_vista_money/expense/migrations/0006_alter_expense_amount.py
  hasta_la_vista_money/income/migrations/0007_alter_income_amount.py
Due: flake8, yesqa

Сделал фильтрацию категорий в форме по пользователям
  hasta_la_vista_money/expense/views.py
  hasta_la_vista_money/income/views.py
Due: black, isort, flake8, yesqa

Сделал фильтрацию категорий в форме по пользователям
  hasta_la_vista_money/expense/forms.py
  hasta_la_vista_money/expense/views.py
  hasta_la_vista_money/income/forms.py
  hasta_la_vista_money/income/views.py
Due: black, isort, flake8, yesqa

перенес метод str
  hasta_la_vista_money/commonlogic/models.py
  hasta_la_vista_money/expense/models.py
  hasta_la_vista_money/income/models.py
Due: black, isort, flake8, yesqa

Поправил стили логотипа и who login class
  static/css/styles.css
  static/scss/_mobile.scss
  static/scss/styles.scss
  templates/header.html
Due: none

генерация хеша для файлов через тег
  config/django/base.py
  hasta_la_vista_money/templatags/generate_hash.py
  templates/base.html
Due: black, isort, flake8, yesqa

Добавил константу
  hasta_la_vista_money/constants.py
Due: black, isort, flake8, yesqa

Добавил разделение миллионных
  hasta_la_vista_money/templatags/thousand_comma.py
Due: black, isort, flake8, yesqa

Переделал представление добавление аккаунта
  hasta_la_vista_money/applications/views.py
Due: black, isort, flake8, yesqa

Переделал шаблон формы добавление счёта
  hasta_la_vista_money/applications/templates/applications/page_application.html
Due: none

Поправил ошибки подсчёта чеков по датам
  hasta_la_vista_money/expense/templates/expense/expense.html
  hasta_la_vista_money/expense/views.py
Due: black, isort, flake8, yesqa

добавил action к форме создания счёта
  hasta_la_vista_money/applications/templates/applications/page_application.html
Due: none

поправил тесты создания счёта
  hasta_la_vista_money/account/tests.py
Due: black, isort, flake8, yesqa

Создал отдельное представление для добвления счёта
  hasta_la_vista_money/applications/views.py
Due: black, isort, flake8, yesqa

добавил новый url для добавления счёта
  hasta_la_vista_money/account/urls.py
Due: black, isort, flake8, yesqa

добавил аннотации типов
  hasta_la_vista_money/applications/views.py
Due: black, isort, flake8, yesqa

added mypy
  requirements/dev.txt
  requirements/prod.txt
Due: none

added mypy
  poetry.lock
  pyproject.toml
Due: none

добавил аннотации типов
  hasta_la_vista_money/applications/views.py
  hasta_la_vista_money/custom_mixin.py
  hasta_la_vista_money/expense/views.py
Due: black, isort, flake8, yesqa

понизил версию Pillow
  requirements/prod.txt
Due: none

added mypy in dev
  requirements/dev.txt
Due: none

added mypy in dev
  requirements/prod.txt
Due: none

added mypy in dev
  poetry.lock
  pyproject.toml
Due: none

removed poetry hooks
  .pre-commit-config.yaml
Due: none

update pillow
  poetry.lock
  pyproject.toml
  requirements/dev.txt
  requirements/prod.txt
Due: none

added mypy_cache
  .gitignore
Due: none

refactoring
  hasta_la_vista_money/applications/templates/applications/page_application.html
Due: none

добавил 2 символа после запятой
  hasta_la_vista_money/templatags/thousand_comma.py
Due: black, isort, flake8, yesqa

переделал модели и представления счетов под related_name
  hasta_la_vista_money/account/models.py
  hasta_la_vista_money/applications/views.py
Due: black, isort, flake8, yesqa

Добавил статистику по переводам между счетами
  hasta_la_vista_money/account/models.py
  hasta_la_vista_money/applications/templates/applications/page_application.html
  hasta_la_vista_money/applications/views.py
Due: black, isort, flake8, yesqa

Добавил статистику по переводам между счетами
  hasta_la_vista_money/account/models.py
Due: black, isort, flake8, yesqa

Добавил дату в вывод
  hasta_la_vista_money/account/models.py
Due: black, isort, flake8, yesqa

Добавил related_name
  hasta_la_vista_money/account/migrations/0011_alter_transfermoneylog_options_alter_account_user_and_more.py
  hasta_la_vista_money/expense/migrations/0007_alter_expense_account_alter_expense_category_and_more.py
  hasta_la_vista_money/expense/models.py
  hasta_la_vista_money/income/migrations/0008_alter_income_account_alter_income_category_and_more.py
  hasta_la_vista_money/income/models.py
  hasta_la_vista_money/loan/migrations/0019_alter_loan_account_alter_loan_user_and_more.py
  hasta_la_vista_money/loan/models.py
  hasta_la_vista_money/receipts/migrations/0011_alter_customer_user_alter_product_product_name_and_more.py
  hasta_la_vista_money/receipts/models.py
Due: black, isort, flake8, yesqa

Переделал orm запросы под related_name
  hasta_la_vista_money/applications/views.py
  hasta_la_vista_money/loan/views.py
  hasta_la_vista_money/receipts/views.py
Due: black, isort, flake8, yesqa

добавил related_name
  hasta_la_vista_money/users/migrations/0008_remove_user_policy_and_more.py
  hasta_la_vista_money/users/models.py
Due: black, isort, flake8, yesqa

добавил related_name
  hasta_la_vista_money/bot/receipt_handler/receipt_parse_handler.py
Due: black, isort, flake8, yesqa

перенес константу внутрь модели
  hasta_la_vista_money/account/models.py
Due: black, isort, flake8, yesqa

добавил новое поле - тип кредита
  hasta_la_vista_money/loan/models.py
Due: black, isort, flake8, yesqa

рефакторинг
  hasta_la_vista_money/loan/tasks.py
Due: black, isort, flake8, yesqa

перенес некоторую логику в форму метода save
  hasta_la_vista_money/loan/forms.py
  hasta_la_vista_money/loan/views.py
Due: black, isort, flake8, yesqa
