Repository hlvm-app/hasta-la-vista-money: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8, yesqa

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    -    id: check-ast
    -    id: trailing-whitespace
    -    id: check-toml
    -    id: end-of-file-fixer
         exclude: 'styles.css.map'

-   repo: https://github.com/asottile/add-trailing-comma
    rev: v3.1.0
    hooks:
    -   id: add-trailing-comma

-   repo: https://github.com/python-poetry/poetry
    rev: 1.6.0
    hooks:
    -   id: poetry-check
    -   id: poetry-lock
    -   id: poetry-export
        args: ["-f", "requirements.txt", "-o", "requirements/dev.txt", "--with", "dev", "--without-hashes"]

-   repo: https://github.com/python-poetry/poetry
    rev: 1.6.0
    hooks:
    -   id: poetry-check
    -   id: poetry-lock
    -   id: poetry-export
        args: [ "-f", "requirements.txt", "-o", "requirements/prod.txt", "--without-hashes"]

-   repo: local
    hooks:
    -   id: black
        name: Format with Black
        entry: black
        language: system
        types: [python]
        args: ['--skip-string-normalization']
        exclude: 'migrations'

    -   id: isort
        name: isort
        entry: isort
        language: system
        types: [ python ]
        exclude: 'migrations'

    -   id: flake8
        name: Check with Flake8
        entry: flake8
        language: system
        types: [ python ]

    -   id: yesqa
        name: yesqa
        entry: yesqa
        language: system
        types: [ python ]
        
-   repo: https://github.com/thclark/pre-commit-sphinx
    rev: 0.0.1
    hooks:
    -   id: build-docs
        args: ['--cache-dir', 'docs/doctrees', '--html-dir', 'docs/html', '--source-dir', 'docs/source']
        language_version: python3

Поменял представление версии
  setup.cfg
  setup.py
Due: black, isort, flake8, yesqa

Поменял представление версии
  hasta_la_vista_money/__init__.py
Due: black, isort, flake8, yesqa

Поменял представление версии
  setup.cfg
Due: none

Поправил ошибки
  CHANGELOG.md
  setup.cfg
Due: none

Поправил ошибки
  setup.cfg
Due: none

Поправил ошибки
  CHANGELOG.md
Due: none

настройка завершена
  hasta_la_vista_money/__init__.py
  setup.cfg
Due: black, isort, flake8, yesqa

update packages
  poetry.lock
  requirements/dev.txt
  requirements/prod.txt
Due: none

Добавил команды по exports requirements
  Makefile
Due: none

Поправил ошибку
  hasta_la_vista_money/bot/bot_handler/receipt_manual_handler.py
  hasta_la_vista_money/constants.py
Due: black, isort, flake8, yesqa

Поправил сетку
  templates/header.html
Due: none

Оформил страницу 404
  templates/404.html
Due: none

добавил django_extensions
  config/django/base.py
Due: black, isort, flake8, yesqa

рефакторинг
  hasta_la_vista_money/expense/migrations/0009_alter_expensetype_user.py
  hasta_la_vista_money/expense/models.py
  hasta_la_vista_money/expense/views.py
  hasta_la_vista_money/income/migrations/0010_alter_incometype_user.py
  hasta_la_vista_money/income/models.py
  hasta_la_vista_money/income/views.py
Due: black, isort, flake8, yesqa

рефакторинг
  hasta_la_vista_money/expense/views.py
  hasta_la_vista_money/income/views.py
Due: black, isort, flake8, yesqa

рефакторинг
  hasta_la_vista_money/commonlogic/views.py
Due: black, isort, flake8, yesqa

рефакторинг
  hasta_la_vista_money/receipts/templates/receipts/receipts.html
Due: none

рефакторинг
  hasta_la_vista_money/receipts/migrations/0012_alter_product_quantity.py
  hasta_la_vista_money/receipts/models.py
  hasta_la_vista_money/receipts/views.py
Due: black, isort, flake8, yesqa

Изменил функциональность фильтра
  hasta_la_vista_money/receipts/templates/receipts/receipts.html
Due: none

добавил валидацию поля Количество
  hasta_la_vista_money/receipts/forms.py
  hasta_la_vista_money/receipts/views.py
  static/js/errors_form.js
Due: black, isort, flake8, yesqa

Добавил перевод
  locale/en/LC_MESSAGES/django.po
Due: none

Добавил валидацию поля "счёт"
  hasta_la_vista_money/expense/forms.py
Due: black, isort, flake8, yesqa

Поменял версию
  hasta_la_vista_money/__init__.py
  setup.cfg
Due: black, isort, flake8, yesqa

Поправил ошибку
  hasta_la_vista_money/expense/forms.py
Due: black, isort, flake8, yesqa

Поправил тест, добавил проверки
  hasta_la_vista_money/account/tests.py
Due: black, isort, flake8, yesqa

Рефакторинг
  hasta_la_vista_money/expense/views.py
Due: black, isort, flake8, yesqa

remove
  hasta_la_vista_money/applications/migrations/__init__.py
Due: flake8, yesqa

removed applications app, moved files to account app
  config/django/base.py
  config/urls.py
  hasta_la_vista_money/account/templates/account/account.html
  hasta_la_vista_money/account/urls.py
  hasta_la_vista_money/account/views.py
  hasta_la_vista_money/applications/__init__.py
  hasta_la_vista_money/applications/apps.py
  hasta_la_vista_money/applications/templates/applications/page_application.html
  hasta_la_vista_money/applications/urls.py
Due: black, isort, flake8, yesqa

test
  hasta_la_vista_money/bot/receipt_handler/receipt_api_receiver.py
Due: black, isort, flake8, yesqa

рефакторинг
  hasta_la_vista_money/bot/receipt_handler/receipt_parser_json.py
  hasta_la_vista_money/bot/receipt_handler/receipt_parser_text.py
Due: black, isort, flake8, yesqa
