Repository hlvm-app/hasta-la-vista-money: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8, yesqa

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
    -    id: check-ast
    -    id: trailing-whitespace
    -    id: check-toml
    -    id: end-of-file-fixer

-   repo: https://github.com/asottile/add-trailing-comma
    rev: v2.1.0
    hooks:
    -   id: add-trailing-comma
-   repo: local
    hooks:
    -   id: black
        name: Format with Black
        entry: black
        language: system
        types: [python]
        args: ['--skip-string-normalization']
        exclude: 'migrations'

    -   id: isort
        name: isort
        entry: isort
        language: system
        types: [ python ]
        exclude: 'migrations'

    -   id: flake8
        name: Check with Flake8
        entry: flake8
        language: system
        types: [ python ]

    -   id: yesqa
        name: yesqa
        entry: yesqa
        language: system
        types: [ python ]

Добавил экспорт пакетов из pyproject to prod and dev txt files
  .pre-commit-config.yaml
Due: none

Добавил экспорт пакетов из pyproject to prod and dev txt files
  poetry.lock
  pyproject.toml
  requirements/dev.txt
  requirements/prod.txt
Due: none

added option --without-hashes
  .pre-commit-config.yaml
Due: none

added option --without-hashes
  requirements/dev.txt
  requirements/prod.txt
Due: none

updated version project
  pyproject.toml
Due: none

added runtime.txt file
  runtime.txt
Due: none

changed
  .pre-commit-config.yaml
Due: none

added daphne package
  poetry.lock
  pyproject.toml
  requirements/dev.txt
  requirements/prod.txt
Due: none

updated actions packages version and update version python to 3.10.12
  .github/workflows/hasta_la_vista_money.yaml
Due: none

добавил параметр по умолчанию
  hasta_la_vista_money/bot/json_parser/json_parser.py
Due: black, isort, flake8, yesqa

добавил новые константы
  hasta_la_vista_money/constants.py
Due: black, isort, flake8, yesqa

добавил новые поля
  hasta_la_vista_money/bot/receipt_handler/data_classes.py
Due: black, isort, flake8, yesqa

добавил новые поля
  hasta_la_vista_money/receipts/forms.py
Due: black, isort, flake8, yesqa

добавил новые поля
  hasta_la_vista_money/receipts/models.py
Due: black, isort, flake8, yesqa

добавил новый код игнора
  setup.cfg
Due: none

Добавил поля с НДС
  hasta_la_vista_money/receipts/templates/receipts/receipts.html
Due: none

Добавил коды игнора
  setup.cfg
Due: none

Добавил поля с НДС
  hasta_la_vista_money/bot/receipt_handler/receipt_parser.py
Due: black, isort, flake8, yesqa

Добавил поля с НДС
  hasta_la_vista_money/receipts/migrations/0007_receipt_nds_10_receipt_nds_20.py
  hasta_la_vista_money/receipts/migrations/0008_rename_nds_10_receipt_nds10_and_more.py
Due: flake8, yesqa

Создал модели для кредитов
  hasta_la_vista_money/loan/migrations/0002_delete_loan.py
  hasta_la_vista_money/loan/migrations/0003_initial.py
  hasta_la_vista_money/loan/models.py
Due: black, isort, flake8, yesqa

переинициализировал таблицы с полем дата
  hasta_la_vista_money/loan/migrations/0001_initial.py
  hasta_la_vista_money/loan/migrations/0002_delete_loan.py
  hasta_la_vista_money/loan/migrations/0003_initial.py
Due: flake8, yesqa

Добавил поле с датой и поправил название поля со сроком кредита
  hasta_la_vista_money/loan/models.py
Due: black, isort, flake8, yesqa

Добавил форму
  hasta_la_vista_money/loan/forms.py
Due: black, isort, flake8, yesqa

Убрал поля с ФИ и почтой
  hasta_la_vista_money/users/forms.py
Due: black, isort, flake8, yesqa

добавил страницу 404 и проверку
  hasta_la_vista_money/applications/views.py
  hasta_la_vista_money/expense/views.py
  hasta_la_vista_money/income/views.py
  templates/404.html
Due: black, isort, flake8, yesqa

Объединил категории расходов с кредитами
  hasta_la_vista_money/expense/views.py
Due: black, isort, flake8, yesqa

Добавил шаблон 500 ошибки
  templates/500.html
Due: none

Убираем категории кредитов
  hasta_la_vista_money/expense/views.py
Due: black, isort, flake8, yesqa

Добавил текст для кнопки
  templates/base.html
Due: none

Миграции
  hasta_la_vista_money/loan/migrations/0002_remove_loan_category_delete_category.py
  hasta_la_vista_money/loan/migrations/0003_alter_loan_period_loan.py
  hasta_la_vista_money/loan/migrations/0004_paymentmakeloan.py
Due: flake8, yesqa

Добавил url для создания кредита
  hasta_la_vista_money/loan/urls.py
Due: black, isort, flake8, yesqa

Написал представления для отображения кредитов и их создания
  hasta_la_vista_money/loan/views.py
Due: black, isort, flake8, yesqa

Добавил исключения
  setup.cfg
Due: none

Написал функцию для задачи по аннуитетному платежу
  hasta_la_vista_money/loan/tasks.py
Due: black, isort, flake8, yesqa

Добавил новую модель по погашению платежа
  hasta_la_vista_money/loan/models.py
Due: black, isort, flake8, yesqa

Добавил формы по добавлению кредитов и отображение графика платежей
  hasta_la_vista_money/loan/templates/loan/loan.html
Due: none
