Repository hlvm-app/hasta-la-vista-money: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8, yesqa

black:
  name: Format with Black
  entry: black
  language: system
  args:
  - --skip-string-normalization

isort:
  name: isort
  entry: isort
  language: system

flake8:
  name: Check with Flake8
  entry: flake8
  language: system

yesqa:
  name: yesqa
  entry: yesqa
  language: system

Добавил API serializers для Account List
  config/django/base.py
  hasta_la_vista_money/account/migrations/0026_rename_account_acc_name_ac_e74e62_idx_account_name_ac_dad2cb_idx_and_more.py
  hasta_la_vista_money/account/models.py
  hasta_la_vista_money/account/prepare.py
  hasta_la_vista_money/account/serializers.py
  hasta_la_vista_money/account/urls.py
  hasta_la_vista_money/account/views.py
Due: black, isort, flake8, yesqa

fix
  hasta_la_vista_money/users/models.py
Due: black, isort, flake8, yesqa

fix
  config/django/base.py
Due: black, isort, flake8, yesqa

Added the ability to copy an expense\income operation
  hasta_la_vista_money/commonlogic/views.py
  hasta_la_vista_money/expense/templates/expense/expense.html
  hasta_la_vista_money/expense/urls.py
  hasta_la_vista_money/expense/views.py
  hasta_la_vista_money/income/templates/income/show_income.html
  hasta_la_vista_money/income/urls.py
  hasta_la_vista_money/income/views.py
Due: black, isort, flake8, yesqa

Added the ability to copy an expense\income operation
  hasta_la_vista_money/expense/views.py
  hasta_la_vista_money/income/views.py
Due: black, isort, flake8, yesqa

fix
  hasta_la_vista_money/commonlogic/views.py
  hasta_la_vista_money/expense/views.py
  hasta_la_vista_money/income/views.py
Due: black, isort, flake8, yesqa

fix
  hasta_la_vista_money/expense/urls.py
  hasta_la_vista_money/income/urls.py
Due: black, isort, flake8, yesqa

changed position statistics buttons
  hasta_la_vista_money/receipts/templates/receipts/receipts.html
Due: none

changed position filter buttons
  hasta_la_vista_money/expense/templates/expense/filter.html
  hasta_la_vista_money/income/templates/income/filter.html
  hasta_la_vista_money/receipts/templates/receipts/filter.html
  hasta_la_vista_money/receipts/templates/receipts/receipts.html
Due: none

linter
  hasta_la_vista_money/commonlogic/views.py
  hasta_la_vista_money/expense/urls.py
  hasta_la_vista_money/income/urls.py
Due: black, isort, flake8, yesqa

added key user
  hasta_la_vista_money/users/views.py
Due: black, isort, flake8, yesqa

serializers receipts
  hasta_la_vista_money/receipts/serializers.py
  hasta_la_vista_money/receipts/urls.py
  hasta_la_vista_money/receipts/views.py
Due: black, isort, flake8, yesqa

added id field
  hasta_la_vista_money/account/serializers.py
Due: black, isort, flake8, yesqa

lint
  hasta_la_vista_money/receipts/serializers.py
  hasta_la_vista_money/receipts/urls.py
  hasta_la_vista_money/receipts/views.py
Due: black, isort, flake8, yesqa

added model selected account
  hasta_la_vista_money/account/serializers.py
  hasta_la_vista_money/users/migrations/0011_selectedaccount.py
  hasta_la_vista_money/users/models.py
Due: black, isort, flake8, yesqa

Update add_category_income.html
  hasta_la_vista_money/income/templates/income/modals/add_category_income.html
Due: none

added api create receipts
  hasta_la_vista_money/receipts/serializers.py
  hasta_la_vista_money/receipts/urls.py
  hasta_la_vista_money/receipts/views.py
Due: black, isort, flake8, yesqa

added api create receipts
  hasta_la_vista_money/receipts/serializers.py
  hasta_la_vista_money/receipts/views.py
Due: black, isort, flake8, yesqa

added api get username by token
  setup.cfg
Due: none

added api get username by token
  hasta_la_vista_money/users/urls.py
  hasta_la_vista_money/users/views.py
Due: black, isort, flake8, yesqa

Добавил условие, когда чек уже существует
  hasta_la_vista_money/receipts/views.py
Due: black, isort, flake8, yesqa

Убрал регистрацию и сделал так, чтобы при первом входе на страницу приложения сначала появлялась страница регистрации
  config/django/base.py
  hasta_la_vista_money/budget/migrations/0003_alter_planning_user.py
  hasta_la_vista_money/budget/migrations/0004_alter_datelist_user.py
  hasta_la_vista_money/budget/models.py
  hasta_la_vista_money/users/middleware.py
  hasta_la_vista_money/users/templates/users/login.html
  hasta_la_vista_money/users/views.py
Due: black, isort, flake8, yesqa

Добавил ээндпоинт по спискам чеков
  hasta_la_vista_money/receipts/urls.py
  hasta_la_vista_money/receipts/views.py
Due: black, isort, flake8, yesqa

Добавил возможность загрузки файлов с qr-code
  config/django/base.py
  hasta_la_vista_money/receipts/forms.py
  hasta_la_vista_money/receipts/json_parser/__init__.py
  hasta_la_vista_money/receipts/json_parser/json_parser.py
  hasta_la_vista_money/receipts/services.py
  hasta_la_vista_money/receipts/templates/receipts/modals/add_receipt.html
  hasta_la_vista_money/receipts/urls.py
  hasta_la_vista_money/receipts/views.py
Due: black, isort, flake8, yesqa

Добавил возможность загрузки файлов с qr-code
  hasta_la_vista_money/receipts/services.py
  hasta_la_vista_money/receipts/views.py
Due: black, isort, flake8, yesqa

packages update
  poetry.lock
  requirements/dev.txt
  requirements/prod.txt
Due: none

added ignore code
  setup.cfg
Due: none

added list api seller
  hasta_la_vista_money/receipts/urls.py
  hasta_la_vista_money/receipts/views.py
Due: black, isort, flake8, yesqa

added list api seller
  hasta_la_vista_money/receipts/views.py
Due: black, isort, flake8, yesqa

fix trouble
  hasta_la_vista_money/receipts/views.py
Due: black, isort, flake8, yesqa

refactoring
  hasta_la_vista_money/receipts/views.py
Due: black, isort, flake8, yesqa

fix
  hasta_la_vista_money/receipts/views.py
Due: black, isort, flake8, yesqa

refactoring
  config/django/base.py
  hasta_la_vista_money/receipts/forms.py
  hasta_la_vista_money/receipts/json_parser/json_parser.py
  hasta_la_vista_money/receipts/services.py
  hasta_la_vista_money/receipts/templates/receipts/modals/add_receipt.html
  hasta_la_vista_money/receipts/views.py
  hasta_la_vista_money/users/middleware.py
Due: black, isort, flake8, yesqa

refactoring
  hasta_la_vista_money/account/migrations/0027_alter_account_user_alter_transfermoneylog_user.py
  hasta_la_vista_money/budget/migrations/0005_alter_datelist_user_alter_planning_user.py
  hasta_la_vista_money/expense/migrations/0020_alter_expense_user_alter_expensecategory_user.py
  hasta_la_vista_money/income/migrations/0023_alter_income_user_alter_incomecategory_user.py
  hasta_la_vista_money/loan/migrations/0021_alter_loan_user_alter_paymentmakeloan_user_and_more.py
  hasta_la_vista_money/receipts/migrations/0014_alter_customer_user_alter_product_user_and_more.py
  hasta_la_vista_money/users/migrations/0009_rename_user_customuser.py
  hasta_la_vista_money/users/migrations/0012_alter_telegramuser_user_delete_customuser.py
Due: flake8, yesqa

Path conditions:
  black: any of: \.py$, but not: migrations
  isort: any of: \.py$, but not: migrations
  flake8: any of: \.py$
  yesqa: any of: \.py$
