Repository hlvm-app/hasta-la-vista-money: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8, yesqa

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
    -    id: check-ast
    -    id: trailing-whitespace
    -    id: check-toml
    -    id: end-of-file-fixer

-   repo: https://github.com/asottile/add-trailing-comma
    rev: v2.1.0
    hooks:
    -   id: add-trailing-comma
-   repo: local
    hooks:
    -   id: black
        name: Format with Black
        entry: black
        language: system
        types: [python]
        args: ['--skip-string-normalization']
        exclude: 'migrations'

    -   id: isort
        name: isort
        entry: isort
        language: system
        types: [ python ]
        exclude: 'migrations'

    -   id: flake8
        name: Check with Flake8
        entry: flake8
        language: system
        types: [ python ]

    -   id: yesqa
        name: yesqa
        entry: yesqa
        language: system
        types: [ python ]

solarlint
  hasta_la_vista_money/users/views.py
Due: black, isort, flake8, yesqa

Добавил новую константу
  hasta_la_vista_money/constants.py
Due: black, isort, flake8, yesqa

refactoring
  config/django/base.py
Due: black, isort, flake8, yesqa

поправил конфиг
  setup.cfg
Due: none

refactoring by pre-commit
  config/django/dev.py
  config/django/forms.py
  config/django/sessions.py
  config/urls.py
  docs/source/conf.py
  hasta_la_vista_money/account/forms.py
  hasta_la_vista_money/account/models.py
  hasta_la_vista_money/account/tests.py
  hasta_la_vista_money/applications/views.py
  hasta_la_vista_money/bot/json_parse.py
  hasta_la_vista_money/bot/log_config.py
  hasta_la_vista_money/bot/receipt_parser_json.py
  hasta_la_vista_money/bot/receipt_parser_text_qrcode.py
  hasta_la_vista_money/bot/services.py
  hasta_la_vista_money/bot/tests.py
  hasta_la_vista_money/custom_mixin.py
  hasta_la_vista_money/expense/tests.py
  hasta_la_vista_money/expense/views.py
  hasta_la_vista_money/income/models.py
  hasta_la_vista_money/income/tests.py
  hasta_la_vista_money/income/views.py
  hasta_la_vista_money/receipts/tests.py
  hasta_la_vista_money/receipts/views.py
  hasta_la_vista_money/reports/views.py
  hasta_la_vista_money/templatags/thousand_comma.py
  hasta_la_vista_money/users/forms.py
  hasta_la_vista_money/users/tests.py
  manage.py
Due: black, isort, flake8, yesqa

refactoring by pre-commit
  hasta_la_vista_money/bot/receipt_parse.py
Due: black, isort, flake8, yesqa

refactoring by pre-commit
  config/django/base.py
Due: black, isort, flake8, yesqa

refactoring
  hasta_la_vista_money/bot/receipt_parse.py
Due: black, isort, flake8, yesqa

поправил ошибки
  hasta_la_vista_money/bot/receipt_api_receiver.py
Due: black, isort, flake8, yesqa

переопределил цвет кнопки выхода в мобильной версии
  static/css/styles.css
  static/scss/_mobile.scss
  templates/header.html
Due: none

Добавил исключение
  .pre-commit-config.yaml
Due: none

поменял цвет
  static/css/styles.css.map
Due: none

migrations
  hasta_la_vista_money/receipts/migrations/0006_alter_receipt_operation_type.py
  hasta_la_vista_money/users/migrations/0002_user_policy.py
Due: flake8, yesqa

добавил поле для политики конфиденциальности
  hasta_la_vista_money/users/forms.py
  hasta_la_vista_money/users/models.py
Due: black, isort, flake8, yesqa

поправил тесты
  hasta_la_vista_money/users/tests.py
Due: black, isort, flake8, yesqa

migrate
  hasta_la_vista_money/users/migrations/0003_user_email_verify_alter_user_email.py
  hasta_la_vista_money/users/migrations/0004_alter_user_email.py
  hasta_la_vista_money/users/migrations/0005_alter_user_email.py
Due: flake8, yesqa

migrate
  hasta_la_vista_money/users/migrations/0006_remove_user_email_verify_alter_user_policy.py
Due: flake8, yesqa

migrate
  hasta_la_vista_money/users/migrations/0007_alter_user_policy.py
Due: flake8, yesqa

Добавил форму с логином
  hasta_la_vista_money/users/forms.py
Due: black, isort, flake8, yesqa

Добавил ссылку на страницу ввода логина для восстановления пароля
  hasta_la_vista_money/users/templates/users/login.html
Due: none

убрал параметр unique
  hasta_la_vista_money/users/models.py
Due: black, isort, flake8, yesqa

переименова класс формы
  hasta_la_vista_money/users/forms.py
Due: black, isort, flake8, yesqa

Добавил новые ссылки
  hasta_la_vista_money/users/urls.py
Due: black, isort, flake8, yesqa

Создал возможность восстанавливать пароль через ссылку, которая отправляется в телеграм
  hasta_la_vista_money/users/templates/users/registration/password_reset.html
  hasta_la_vista_money/users/templates/users/registration/password_reset_confirm.html
  hasta_la_vista_money/users/templates/users/registration/password_reset_email.html
  hasta_la_vista_money/users/views.py
  setup.cfg
Due: black, isort, flake8, yesqa

add fake migrate
  Procfile
Due: none

remove fake migrate
  Procfile
Due: none

password reset timeout set one day
  config/django/base.py
  hasta_la_vista_money/users/views.py
Due: black, isort, flake8, yesqa

Поправил стили
  hasta_la_vista_money/users/templates/users/registration/password_reset.html
Due: none

Сделал модальное окно для восстановления пароля
  hasta_la_vista_money/users/templates/users/login.html
Due: none

Сделал модальное окно
  hasta_la_vista_money/users/views.py
Due: black, isort, flake8, yesqa

Поправил ошибку
  hasta_la_vista_money/users/views.py
Due: black, isort, flake8, yesqa

увеличил отступ сверху
  templates/base.html
Due: none

Доработал форму в модалке
  hasta_la_vista_money/users/templates/users/login.html
  hasta_la_vista_money/users/views.py
Due: black, isort, flake8, yesqa

линтер
  hasta_la_vista_money/users/views.py
Due: black, isort, flake8, yesqa

fix
  hasta_la_vista_money/users/views.py
Due: black, isort, flake8, yesqa

added new constant
  hasta_la_vista_money/constants.py
Due: black, isort, flake8, yesqa

added help text form
  hasta_la_vista_money/users/forms.py
Due: black, isort, flake8, yesqa

поправил форму
  hasta_la_vista_money/users/templates/users/login.html
Due: none
